:host {
  display: inline-flex;
  line-height: 0;
}

[internal-host] {
  background: var(--nve-sys-interaction-field-background-100);
  border-radius: var(--nve-ref-border-radius-full);
  padding: var(--nve-ref-size-50);

}

::slotted(nve-button) {
  --nve-sys-interaction-state-base: var(--nve-sys-interaction-field-background-100);
  --height: var(--nve-ref-size-600);
  --font-size: var(--nve-ref-font-size-100);
  --font-weight: var(--nve-ref-font-weight-medium);
  --background: var(--nve-sys-interaction-field-background-100);
}

::slotted(:hover) {
  --color: var(--nve-sys-text-emphasis-color);
}

::slotted([disabled]) {
  --color: var(--nve-sys-interaction-disabled-color);
  --background: var(--nve-sys-interaction-field-background-100);
  --nve-sys-interaction-state-ratio-disabled: 0;
}

::slotted([pressed]) {
  --background: var(--nve-sys-interaction-secondary-background);
  --nve-sys-interaction-state-base: var(--nve-sys-interaction-secondary-background);
}

::slotted([focus-within]) {
  --background: var(--nve-sys-interaction-field-background-100);
  --nve-sys-interaction-state-ratio-disabled: 0;
}

::slotted(nve-icon-button) {
  --background: transparent;
  --height: var(--nve-ref-size-600);
  --width: var(--nve-ref-size-1000);
}