:host {
  --background: var(--nve-sys-layer-container-background);
  --min-height: 300px;
  all: initial;
  display: block;
  visibility: inherit;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  width: 100%;
  outline: var(--nve-debug-element-outline, initial);
  color-scheme: var(--nve-sys-color-scheme);
}

[internal-host] {
  background: var(--background);
  position: relative;
  min-height: var(--min-height);
  height: 100%;
}

#color-scheme-probe {
  background-color: var(--nve-sys-layer-canvas-background);
  transition: background-color 50ms ease;
  width: 0;
  height: 0;
}

#editor {
  position: absolute;
  inset: 0;

  .monaco-editor {
    outline: none;
  }
}
