nve-select option {
  padding: var(--padding) !important;
  height: var(--height) !important;
  display: flex !important;
  align-items: center !important;
  background: var(--background) !important;
  color: var(--color) !important;
}

nve-select option:checked {
  background: var(--nve-sys-interaction-selected-background) !important;
  color: var(--nve-sys-interaction-selected-color) !important;
}
