nve-progressive-filter-chip input::placeholder,
nve-progressive-filter-chip textarea::placeholder {
  color: var(--nve-sys-text-placeholder-color) !important;
}

nve-progressive-filter-chip input::-webkit-search-cancel-button,
nve-progressive-filter-chip input::-webkit-calendar-picker-indicator {
  opacity: 0 !important;
  display: none !important;
}

nve-progressive-filter-chip:has([status='error']) {
  --background: transparent;
}

nve-progressive-filter-chip nve-select:not(:state(multiple))::part(caret) {
  display: none;
}
