:host {
  --gap: 1px;
  --border-radius: var(--nve-ref-border-radius-sm);
  --background: color-mix(
    in oklab,
    var(--nve-sys-interaction-field-background) 95%,
    var(--nve-sys-interaction-state-mix)
  );
  width: fit-content;
  min-width: fit-content;
  contain: initial;
}

[internal-host] {
  gap: var(--gap);
  border-radius: var(--border-radius);
  background: var(--background);
  display: flex;
  overflow: hidden;
}

[nve-control],
::slotted(nve-button),
::slotted(mlv-button) {
  --font-weight: var(--nve-ref-font-weight-medium);
  --border-radius: 0;
  --width: fit-content;
}

::slotted([mlv-control]),
::slotted([nve-control]) {
  --font-weight: var(--nve-ref-font-weight-medium);
  --border-radius: 0;
}

[internal-host] > :nth-child(2) {
  --font-weight: var(--nve-ref-font-weight-regular);
}

nve-select:not(:state(multiple))::part(caret) {
  display: none;
}

nve-icon-button {
  --border-radius: 0;
  --padding: var(--nve-ref-size-300);
}
