:host {
  --gap: var(--mlv-ref-size-50);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --background: color-mix(in oklab, var(--mlv-sys-interaction-field-background) 95%, var(--mlv-sys-interaction-state-mix));
  width: fit-content;
  min-width: fit-content;
  contain: initial;
}

[internal-host] {
  gap: var(--gap);
  border-radius: var(--border-radius);
  background: var(--background);
  display: flex;
  overflow: hidden;
}

[mlv-control],
::slotted(mlv-button) {
  --font-weight: var(--mlv-ref-font-weight-medium);
  --border-radius: 0;
  --width: fit-content;
}

::slotted([mlv-control]) {
  --font-weight: var(--mlv-ref-font-weight-medium);
  --border-radius: 0;
}

[internal-host] > :nth-child(2) {
  --font-weight: var(--mlv-ref-font-weight-regular);
}

mlv-select:not(:--multiple)::part(caret) {
  display: none;
}

mlv-icon-button {
  --border-radius: 0;
  --padding: var(--mlv-ref-size-300);
}
