:host {
  --gap: var(--mlv-ref-size-50);
  --border-radius: var(--mlv-ref-border-radius-sm);
  width: fit-content;
  min-width: fit-content;
  contain: initial;
}

[internal-host] {
  gap: var(--gap);
  border-radius: var(--border-radius);
  background: var(--mlv-ref-border-color-muted);
  display: flex;
  overflow: hidden;
}

mlv-input,
mlv-date,
mlv-select,
::slotted(mlv-button) {
  --font-weight: var(--mlv-ref-font-weight-medium);
  --border-radius: 0;
  --width: fit-content;
}

[internal-host] > :nth-child(2) {
  --font-weight: var(--mlv-ref-font-weight-regular);
}

mlv-select {
  --padding: 0 var(--mlv-ref-size-300);
}

mlv-select::part(caret) {
  display: none;
}

mlv-icon-button {
  --border-radius: 0;
  --padding: var(--mlv-ref-size-300);
}
