:host {
  --color: var(--mlv-sys-status-neutral-background);
  --width: var(--mlv-ref-size-400);
  --height: var(--mlv-ref-size-400);
  display: inline-flex;
}

[internal-host] {
  color: var(--color);
  width: var(--width);
  height: var(--height);
  place-self: center;
  display: flex;
  place-items: center;
}

svg {
  width: var(--width);
  height: var(--height);
}

:host([size='sm']) {
  --width: var(--mlv-ref-size-300);
  --height: var(--mlv-ref-size-300);
}

:host([size='lg']) {
  --width: var(--mlv-ref-size-500);
  --height: var(--mlv-ref-size-500);
}

:host([direction='up'][name='arrow']),
:host([direction='up'][name='caret']),
:host([direction='up'][name='chevron']) {
  transform: rotate(0deg);
}

:host([direction='down'][name='arrow']),
:host([direction='down'][name='caret']),
:host([direction='down'][name='chevron']) {
  transform: rotate(180deg);
}

:host([direction='left'][name='arrow']),
:host([direction='left'][name='caret']),
:host([direction='left'][name='chevron']),
:host([direction='left'][name='expand-panel']) {
  transform: rotate(270deg);
}

:host([direction='right'][name='arrow']),
:host([direction='right'][name='caret']),
:host([direction='right'][name='chevron']),
:host([direction='right'][name='expand-panel']) {
  transform: rotate(90deg);
}

:host([variant='inherit']) {
  --color: currentColor;
}

:host([status='success']) {
  --color: var(--mlv-sys-status-success-background);
}

:host([status='warning']) {
  --color: var(--mlv-sys-status-warning-background);
}

:host([status='danger']) {
  --color: var(--mlv-sys-status-danger-background);
}

:host([status='accent']) {
  --color: var(--mlv-sys-status-accent-background);
}
