:host {
  --padding: 0 var(--nve-ref-size-200);
  --font-size: var(--nve-ref-font-size-200);
  --height: var(--nve-ref-size-800);
  --background: var(--nve-sys-interaction-field-background);
  --color: var(--nve-sys-interaction-field-color);
  --border-radius: var(--nve-ref-border-radius-sm);
  --border: 0;
  --cursor: pointer;
  width: 100%;
}

[input] {
  min-height: var(--height);
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color);
  display: flex;
  align-content: stretch;
  position: relative;
  width: 100%;
}

[name='caret'] {
  --width: var(--nve-ref-size-200);
  --height: var(--nve-ref-size-200);
  right: var(--nve-ref-size-300);
  align-self: center;
  pointer-events: none;
  position: absolute;
}

::slotted(select) {
  appearance: none !important;
  color: var(--color) !important;
  padding: var(--padding) !important;
  font-size: var(--font-size) !important;
  width: 100% !important;
  border: 0 !important;
  background: none !important;
  display: block !important;
  cursor: var(--cursor) !important;
}

::slotted(select[multiple]) {
  padding: 0 !important;
  min-height: 100px !important;
}

:host([layout*='horizontal'][multiple]),
:host([layout*='horizontal'][size]) {
  & ::slotted(label) {
    padding-top: var(--nve-ref-size-100) !important;
    align-self: start !important;
  }

  slot[name='label'] {
    align-self: start;
  }
}

:host(:--invalid),
:host(:--error) {
  --border: var(--nve-ref-border-width-md) solid var(--nve-sys-support-danger-emphasis-color);
}

:host(:--success) {
  --border: var(--nve-ref-border-width-md) solid var(--nve-sys-support-success-emphasis-color);
}

:host(:--disabled) {
  --border: var(--nve-ref-border-width-md) solid transparent;
}