:host {
  --padding: 0 var(--nve-ref-size-200);
  --font-size: var(--nve-ref-font-size-200);
  --height: var(--nve-ref-size-800);
  --background: var(--nve-sys-interaction-field-background);
  --color: var(--nve-sys-interaction-field-color);
  --border-radius: var(--nve-ref-border-radius-sm);
  --border: 0;
  --cursor: pointer;
  --width: 100%;
  --font-weight: normal;
  --text-align: start;
  --_input-background: var(--background);
  --_icon-color: var(--color);
  width: var(--width);
  contain: initial;
}

[input] {
  min-height: var(--height);
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  width: var(--width);
  color: var(--color);
  align-items: center;
  display: flex;
  align-content: stretch;
  position: relative;
}

[name='caret'] {
  --width: var(--nve-ref-size-200);
  --height: var(--nve-ref-size-200);
  right: var(--nve-ref-size-300);
  align-self: center;
  pointer-events: none;
  position: absolute;
}

::slotted(select) {
  appearance: none !important;
  color: var(--color) !important;
  padding: var(--padding) !important;
  font-size: var(--font-size) !important;
  cursor: var(--cursor) !important;
  font-weight: var(--font-weight) !important;
  text-align: var(--text-align) !important;
  height: var(--height) !important;
  width: 100% !important;
  border: 0 !important;
  background: none !important;
  display: block !important;
}

:host(:--multiple) {
  --padding: 0 var(--nve-ref-size-100);
}

:host(:--multiple) [input] {
  padding: var(--padding);
  gap: var(--nve-ref-size-100);
}

:host(:--multiple) ::slotted(select[multiple]) {
  opacity: 0 !important;
}

:host(:--size) ::slotted(select) {
  padding: 0 !important;
  min-height: 100px !important;
}

:host(:--size) [name='caret'] {
  display: none;
}

:host([layout*='horizontal'][size]) {
  & ::slotted(label) {
    padding-top: var(--nve-ref-size-100) !important;
    align-self: start !important;
  }

  slot[name='label'] {
    align-self: start;
  }
}

:host(:--invalid),
:host(:--error) {
  --border: var(--nve-ref-border-width-md) solid var(--nve-sys-support-danger-emphasis-color);
}

:host(:--success) {
  --border: var(--nve-ref-border-width-md) solid var(--nve-sys-support-success-emphasis-color);
}

:host(:--disabled) {
  --border: var(--nve-ref-border-width-md) solid transparent;
}

nve-tag {
  --background: color-mix(in oklab, var(--color) 15%, var(--_input-background));
  --padding: var(--nve-ref-size-100) var(--nve-ref-size-200);
  --cursor: pointer !important;
}

nve-dropdown {
  --padding: var(--nve-ref-size-200);
}

nve-menu-item:not(:--selected) nve-icon[name='checkmark'] {
  opacity: 0;
}

nve-menu-item nve-icon {
  --color: inherit;
}

slot:not([name]),
slot[name*='option-'] {
  display: contents;
}
