:host {
  --cursor: pointer;
  --border-radius: var(--nve-ref-border-radius-xxl);
  --background: var(--nve-sys-interaction-field-background);
  --width: var(--nve-ref-size-1000);
  --height: var(--nve-ref-size-500);
  --anchor-width: calc(var(--nve-ref-size-300) + var(--nve-ref-size-50));
  --anchor-height: calc(var(--nve-ref-size-300) + var(--nve-ref-size-50));
  --anchor-border-radius: var(--nve-ref-border-radius-xxl);
  --anchor-background: var(--nve-sys-interaction-disabled-color);
  display: inline-block;
  contain: layout;
}

::slotted(input) {
  cursor: var(--cursor) !important;
  appearance: none !important;
  position: absolute !important;
  inset: 0 !important;
  width: var(--width) !important;
  height: var(--height) !important;
  border-radius: var(--border-radius) !important;
  margin: 0 !important;
  padding: 0 !important;
}

[input] {
  align-items: center;
  outline-offset: 2px;
}

[input] slot {
  cursor: var(--cursor);
  border-radius: var(--border-radius);
  background: var(--background);
  height: var(--height);
  width: var(--width);
  min-height: auto;
  display: flex !important;
  padding: 0 var(--nve-ref-size-100);
  align-items: center;
  transition: background-color var(--nve-ref-animation-duration-150) ease;
  position: relative;
}

:host(:state(disabled):state(checked)) [input] slot {
  --anchor-background: var(--nve-sys-interaction-disabled-background);
  --background: var(--nve-sys-interaction-disabled-color);
}

[input] slot::after {
  border-radius: var(--anchor-border-radius);
  background: var(--anchor-background);
  height: var(--anchor-height);
  width: var(--anchor-width);
  display: inline-block;
  content: '';
  transition: transform var(--nve-ref-animation-duration-250) cubic-bezier(0.12, 0.32, 0.54, 2);
  pointer-events: none;
  will-change: transform;
}

:host(:state(checked)) {
  --background: var(--nve-sys-accent-secondary-background);
  --anchor-background: var(--nve-sys-text-white-color);
}

:host(:state(checked)) [input] slot::after {
  transform: translate(calc(var(--width) / 2), 0);
}

:host(:state(checked):state(dirty)) [input] slot::after {
  animation: thumbBounce var(--nve-ref-animation-duration-250) cubic-bezier(0.12, 0.32, 0.54, 2);
}

@keyframes thumbBounce {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(calc(var(--width) / 4), 0) scale(1.15);
  }
  60% {
    transform: translate(calc(var(--width) / 1.8), 0) scale(0.95);
  }
  100% {
    transform: translate(calc(var(--width) / 2), 0) scale(1);
  }
}
