:host {
  --background: var(--state-color-background);
  --color: var(--state-color);
  --state-color-base: var(--nve-ref-color-blue-cobalt-1100);
  --nve-sys-interaction-state-base: var(--background, var(--nve-sys-layer-canvas-background));
  --gap: var(--nve-ref-space-xs);
  --font-size: var(--nve-ref-font-size-100);
  --padding: 0 var(--nve-ref-size-200);
  --border: 0;
  --border-radius: var(--nve-ref-border-radius-full);
  --font-weight: var(--nve-ref-font-weight-regular);
  --cursor: pointer;
  --height: var(--nve-ref-size-600);
  --width: initial;
  --max-width: initial;
  display: inline-flex;
  user-select: none;
}

[internal-host] {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  gap: var(--gap);
  background: var(--background);
  color: var(--color);
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: var(--cursor);
  height: var(--height);
  width: var(--width);
  max-width: var(--max-width);
  display: inline-flex;
  line-height: 1.1em;
  place-items: center;
  place-content: center;
  white-space: nowrap;
}

slot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

::slotted([nve-text]),
::slotted([nve-text]) {
  color: inherit !important;
}

nve-icon {
  --color: inherit;
  cursor: var(--cursor);
}

:host([readonly]) {
  --text-decoration: none;
  --cursor: cursor;
}
