:host {
  --background: var(--state-color-background);
  --color: var(--state-color);
  --state-color-base: var(--mlv-ref-color-blue-cobalt-1100);
  --mlv-sys-interaction-state-base: var(--background);
  --gap: var(--mlv-ref-space-xs);
  --font-size: var(--mlv-ref-font-size-100);
  --padding: 0 var(--mlv-ref-size-200);
  --border-radius: var(--mlv-ref-border-radius-lg);
  --font-weight: var(--mlv-ref-font-weight-regular);
  --cursor: pointer;
  --height: var(--mlv-ref-size-600);
  --width: initial;
  display: inline-flex;
  user-select: none;
}

[internal-host] {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  gap: var(--gap);
  background: var(--background);
  color: var(--color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  cursor: var(--cursor);
  height: var(--height);
  width: var(--width);
  display: inline-flex;
  align-items: center;
  line-height: 1.1em;
  place-items: center;
  place-content: center;
  white-space: nowrap;
}

slot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

::slotted([mlv-text]) {
  color: inherit !important;
}

mlv-icon {
  --color: inherit;
  cursor: var(--cursor);
}

:host([readonly]) {
  --text-decoration: none;
  --cursor: cursor;
}
