:host {
  --gap: var(--nve-ref-space-sm);
  display: contents;
}

[internal-host] {
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog {
  outline: 0;
}

dialog::backdrop {
  background: hsla(0, 0%, 0%, 0.5); /* --nve-sys-layer-backdrop-background (not available on top layer */
}