:host {
  margin: auto;
  height: fit-content;
  inset: 0;
  --gap: var(--nve-ref-space-sm);
}

[internal-host] {
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}

[internal-host] {
  outline: 0;
}

:host::backdrop {
  /* not available on top layer */
  background: hsla(0, 0%, 0%, 0.5); /* eslint-disable-line elements/no-invalid-css-variable */
}
