.pnpm-store
.playwright
.wireit
.eslintcache
.metrics
.DS_store
node_modules
dist
dist-storybook
.lighthouse
.visual/dist
*.diff.png
coverage
projects/elements/src/icon/icons.ts
projects/elements/index.html
projects/themes/index.html
v8-compile-cache-0
__screenshots__
vite.*.ts.timestamp*
.11ty-vite