.pnpm-store
.playwright
.wireit
.eslintcache
.metrics
.DS_store
node_modules
dist
dist-storybook
.lighthouse
.visual/dist
*.diff.png
coverage
projects/elements/src/icon/icons.ts
v8-compile-cache-0
__screenshots__
vite.bundle.ts.timestamp-*.mjs
