registry=https://registry.npmjs.org # -rn is the readonly mirror, helps distribute load on the main artifactory instance
use-node-version=22.13.1
engine-strict=true
manage-package-manager-versions=true
package-manager-strict-version=true
verify-deps-before-run=install
lockfile-include-tarball-url=false