node_modules
dist
.lighthouse
public
.storybook
.next
*.stories.ts
*.test.lighthouse.ts
CHANGELOG.md
pnpm-lock.yaml
projects/labs/code/index.html
projects/elements/src/css/*.css
projects/elements/src/icon/server.ts
projects/starters/remix/build
# right now we store genereated assets from the script in the build directory in the src directory, this should be changed
projects/elements-react/src/**/*
# this is a test artifact we should exclude
coverage
vite.*.ts.timestamp*
