node_modules
dist
_site
public
coverage
.wireit
.lighthouse
.storybook
.next
*.stories.ts
*.test.lighthouse.ts
CHANGELOG.md
pnpm-lock.yaml
vite.*.ts.timestamp*
tsconfig.*.tsbuildinfo
projects/labs/code/index.html
projects/elements/src/css/*.css
projects/elements/src/icon/server.ts
projects/internals/metadata/dist/*.json
projects/starters/remix/build
projects/elements-react/src/**/*
.vscode/*.json.code-snippets