node_modules
dist
.lighthouse
public
.storybook
.next
*.stories.ts
*.test.lighthouse.ts
CHANGELOG.md
pnpm-lock.yaml
projects/labs/code/index.html
projects/elements/src/css/*.css
projects/elements/src/icon/server.ts
projects/elements-react/src/**/*
build
