:host {
  --color: var(--mlv-sys-text-color);
  --label-color: var(--mlv-sys-text-muted-color);
  --_label-width: var(--label-width, 180px);
}

[internal-host] {
  color: var(--color);
}

::slotted(label) {
  font-weight: var(--mlv-ref-font-weight-semibold) !important;
  font-size: var(--mlv-ref-font-size-200) !important;
  color: var(--label-color) !important;
  cursor: var(--cursor) !important;
}

:host(:--disabled) {
  --color: var(--mlv-sys-text-muted-color);
}

:host([layout*='horizontal-inline']) ::slotted([mlv-control]),
:host([layout*='vertical-inline']) ::slotted([mlv-control]) {
  --control-height: var(--mlv-ref-size-800);
}

slot[name='label'] {
  grid-area: label;
  display: block;
  align-self: center;
}

slot[name='messages'] {
  grid-area: messages;
  display: block;
}

.input-slot {
  grid-area: input;
  display: flex;
  flex-direction: column;
  gap: var(--mlv-ref-size-300) var(--mlv-ref-size-400);
  width: fit-content;
  flex-wrap: wrap;
}

:host([layout*='-inline']) {
  & .input-slot {
    flex-direction: row;
  }
}

.no-messages {
  & slot[name='messages'] {
    display: none !important;
  }
}

[internal-host] {
  display: grid;
  gap: 8px;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'label label label'
    'input input input'
    'messages messages messages';

  &.no-messages {
    grid-template-areas: 
      'label label label'
      'input input input';
  }

  &.no-label {
    & slot[name='messages'] {
      grid-template-areas: 
        'input input input'
        'messages messages messages';
    }
  }

  &.no-label.no-messages {
    grid-template-areas: 
      'input input input';
  }
}

:host([layout='vertical-inline']) [internal-host] {
  grid-template-areas:
    'label label label'
    'input input input'
    'messages messages messages';;

  &.no-messages {
    grid-template-areas: 
      'label label label'
      'input input input';
  }
}

:host([layout='horizontal']) [internal-host] {
  grid-template-columns: var(--_label-width) minmax(auto, max-content) auto;
  grid-template-areas:
    'label input input'
    '. messages messages';

  &.no-messages {
    grid-template-areas: 
      'label input input';
  }
}

:host([layout='horizontal-inline']) [internal-host] {
  grid-template-columns: var(--_label-width) minmax(auto, max-content) auto;
  grid-template-areas:
    'label input input'
    '. messages messages';
  
  &.no-messages {
    grid-template-areas: 
      'label input input';
  }
}

:host([layout='horizontal']) {
  & ::slotted(label) {
    padding-top: var(--mlv-ref-size-100) !important;
    align-self: start !important;
  }

  slot[name='label'] {
    align-self: start;
  }
}
