:host {
  --animation-duration: var(--nve-ref-animation-duration-200);
  --_width: 0px;
  --_height: 0px;
  all: revert;
  margin: calc(var(--nve-sys-layer-popover-offset) + calc(var(--nve-sys-layer-popover-arrow-offset) * 2));
  border: 0;
  padding: 0;
  background: none;
  position: fixed;
  overflow: visible;
  contain: initial;
  width: max-content;
  z-index: 99;
  /* for fallback floating ui positioning */
}

:host {
  opacity: 0;
  transition:
    opacity var(--animation-duration),
    transform var(--animation-duration) allow-discrete,
    translate var(--animation-duration) allow-discrete,
    overlay var(--animation-duration) allow-discrete,
    display var(--animation-duration) allow-discrete;
}

:host(:popover-open),
:host(:not([popover]):not([hidden])),
:host(:state(no-trigger):not([hidden])) {
  opacity: 1;
}

:host(:popover-open),
:host(:state(no-trigger):not([hidden])) {
  display: block;
}

@starting-style {
  :host(:popover-open),
  :host(:not([popover]):not([hidden])) {
    opacity: 0;
  }
}

:host::backdrop {
  opacity: 0;
}

:host(:popover-open)::backdrop {
  opacity: 1;
}

[internal-host] {
  width: var(--width);
  min-width: var(--min-width);
  font-family: inherit;
  display: flex;
  flex-direction: column;
  overflow: visible;
  white-space: nowrap;
  z-index: 9999;
  border: 0;
  margin: 0;
  user-select: text;
}

@supports (not (position-area: bottom)) {
  :host([popover]) {
    margin: 0;
  }

  :host(:not([popover])) {
    display: contents;
  }
}

@supports (position-area: bottom) {
  [internal-host] {
    position: relative;
  }

  .arrow {
    position-area: bottom;
    translate: 0% -50%;
  }

  :host([position='top']) .arrow {
    position-area: bottom;
    translate: 0% -50%;
  }

  :host([position='top'][alignment='end']) .arrow {
    position-area: bottom left;
    translate: 150% -50%;
  }

  :host([position='top'][alignment='start']) .arrow {
    position-area: bottom right;
    translate: -150% -50%;
  }

  :host([position='bottom']) .arrow {
    position-area: top;
    translate: 0% 50%;
  }

  :host([position='bottom'][alignment='end']) .arrow {
    position-area: top left;
    translate: 150% 50%;
  }

  :host([position='bottom'][alignment='start']) .arrow {
    position-area: top right;
    translate: -150% 50%;
  }

  :host([position='left']) .arrow {
    position-area: right;
    translate: -50% 0%;
  }

  :host([position='left'][alignment='end']) .arrow {
    position-area: right;
    translate: -50% -60%;
  }

  :host([position='left'][alignment='start']) .arrow {
    position-area: right;
    translate: -50% 60%;
  }

  :host([position='right']) .arrow {
    position-area: left;
    translate: 50% 0%;
  }

  :host([position='right'][alignment='end']) .arrow {
    position-area: left;
    translate: 50% -60%;
  }

  :host([position='right'][alignment='start']) .arrow {
    position-area: left;
    translate: 50% 60%;
  }

  /** positioning */
  :host([position='center']) {
    position-area: center;
  }

  /* offset calculation by anchor controller, can't use transforms with anchoring https://github.com/w3c/csswg-drafts/issues/8584 */
  :host([position='left']:state(anchor-body)),
  :host([position='top'][alignment='start']),
  :host([position='bottom'][alignment='start']) {
    margin-right: calc(-1 * calc(var(--_width) + var(--nve-sys-layer-popover-offset)));
  }

  :host([position='right']:state(anchor-body)),
  :host([position='top'][alignment='end']),
  :host([position='bottom'][alignment='end']) {
    margin-left: calc(-1 * calc(var(--_width) + var(--nve-sys-layer-popover-offset)));
  }

  :host([position='top']:state(anchor-body)),
  :host([position='left'][alignment='start']),
  :host([position='right'][alignment='start']) {
    margin-bottom: calc(-1 * calc(var(--_height) + var(--nve-sys-layer-popover-offset)));
  }

  :host([position='bottom']:state(anchor-body)),
  :host([position='left'][alignment='end']),
  :host([position='right'][alignment='end']) {
    margin-top: calc(-1 * calc(var(--_height) + var(--nve-sys-layer-popover-offset)));
  }

  /** top */
  :host([position='top']) {
    position-area: top;
  }

  :host([position='top'][alignment='start']) {
    position-area: top left;
  }

  :host([position='top'][alignment='end']) {
    position-area: top right;
  }

  :host([position='top']) {
    position-area: top;
  }

  :host([position='top'][alignment='start']) {
    position-area: top left;
  }

  :host([position='top'][alignment='end']) {
    position-area: top right;
  }

  /** bottom */
  :host([position='bottom']) {
    position-area: bottom;
  }

  :host([position='bottom'][alignment='start']) {
    position-area: bottom left;
  }

  :host([position='bottom'][alignment='end']) {
    position-area: bottom right;
  }

  /** left */
  :host([position='left']) {
    position-area: left;
  }

  :host([position='left'][alignment='end']) {
    position-area: bottom left;
  }

  :host([position='left'][alignment='start']) {
    position-area: top left;
  }

  /** right */
  :host([position='right']) {
    position-area: right;
  }

  :host([position='right'][alignment='end']) {
    position-area: bottom right;
  }

  :host([position='right'][alignment='start']) {
    position-area: top right;
  }
}

/* drawer - style here due to position polyfill for pre chrome 130 */
:host([inline][position='left']) {
  inset-area: span-bottom left !important;
}

:host([inline][position='right']) {
  inset-area: span-bottom right !important;
}
