:host {
  --animation-duration: var(--nve-ref-animation-duration-200);
  margin: calc(var(--nve-sys-layer-popover-offset) + calc(var(--nve-sys-layer-popover-arrow-offset) * 2));
  border: 0;
  padding: 0;
  background: none;
  position: fixed;
  overflow: visible;
  contain: initial;
  width: max-content;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
  inset: revert;
}

/* ensure popover is not visible until floating-ui has positioned it */
:host([position-strategy='absolute']:not([style*='inset:'])) {
  opacity: 0;
}

/* apply transitions during beforetoggle event to prevent flash of unstyled popover on page load */
:host(:state(transition-start)) {
  transition:
    opacity var(--animation-duration),
    transform var(--animation-duration) allow-discrete,
    translate var(--animation-duration) allow-discrete,
    display var(--animation-duration) allow-discrete;
}

:host(:popover-open),
:host(:not([popover]):not([hidden])),
:host(:state(no-trigger):not([hidden])) {
  opacity: 1;
  pointer-events: initial;
}

/* lit SSR ensure popovers are not visible until hydration has happened */
:host(:not([nve-popover])),
:host([defer-hydration]) {
  opacity: 0 !important;
  pointer-events: none !important;
}

:host(:popover-open),
:host(:state(no-trigger):not([hidden])) {
  display: block;
}

:host::backdrop {
  opacity: 0;
}

:host(:popover-open)::backdrop {
  opacity: 1;
}

[internal-host] {
  width: var(--width);
  min-width: var(--min-width);
  font-family: inherit;
  display: flex;
  flex-direction: column;
  overflow: visible;
  white-space: nowrap;
  z-index: 9999;
  border: 0;
  margin: 0;
  user-select: text;
}

@supports (position-area: bottom) {
  [internal-host] {
    position: relative;
  }

  .arrow {
    position-area: bottom;
    translate: 0% -50%;
  }

  :host([position='top']) .arrow {
    position-area: bottom;
    translate: 0% -50%;
  }

  :host([position='top'][alignment='end']) .arrow {
    position-area: bottom right;
    translate: -150% -50%;
  }

  :host([position='top'][alignment='start']) .arrow {
    position-area: bottom left;
    translate: 150% -50%;
  }

  :host([position='bottom']) .arrow {
    position-area: top;
    translate: 0% 50%;
  }

  :host([position='bottom'][alignment='end']) .arrow {
    position-area: top right;
    translate: -150% 50%;
  }

  :host([position='bottom'][alignment='start']) .arrow {
    position-area: top left;
    translate: 150% 50%;
  }

  :host([position='left']) .arrow {
    position-area: right;
    translate: -50% 0%;
  }

  :host([position='left'][alignment='end']) .arrow {
    position-area: bottom right;
    translate: -50% -150%;
  }

  :host([position='left'][alignment='start']) .arrow {
    position-area: top right;
    translate: -50% 150%;
  }

  :host([position='right']) .arrow {
    position-area: left;
    translate: 50% 0%;
  }

  :host([position='right'][alignment='end']) .arrow {
    position-area: bottom left;
    translate: 50% -150%;
  }

  :host([position='right'][alignment='start']) .arrow {
    position-area: top left;
    translate: 50% 150%;
  }

  /** positioning */
  :host([position='center']) {
    position-area: center;
  }

  :host(:state(anchor-body)) {
    margin: auto;
  }

  :host([position='top']:state(anchor-body)),
  :host([position='right'][alignment='start']:state(anchor-body)),
  :host([position='left'][alignment='start']:state(anchor-body)) {
    margin-top: var(--nve-sys-layer-popover-offset);
  }

  :host([position='right']:state(anchor-body)),
  :host([position='bottom'][alignment='end']:state(anchor-body)),
  :host([position='top'][alignment='end']:state(anchor-body)) {
    margin-right: var(--nve-sys-layer-popover-offset);
  }

  :host([position='bottom']:state(anchor-body)),
  :host([position='right'][alignment='end']:state(anchor-body)),
  :host([position='left'][alignment='end']:state(anchor-body)) {
    margin-bottom: var(--nve-sys-layer-popover-offset);
  }

  :host([position='left']:state(anchor-body)),
  :host([position='top'][alignment='start']:state(anchor-body)),
  :host([position='bottom'][alignment='start']:state(anchor-body)) {
    margin-left: var(--nve-sys-layer-popover-offset);
  }

  /** top */
  :host([position='top']) {
    position-area: top center;
  }

  :host([position='top'][alignment='start']) {
    position-area: top left;
  }

  :host([position='top'][alignment='end']) {
    position-area: top right;
  }

  :host([position='top'][alignment='start']) {
    position-area: top span-right;
  }

  :host([position='top'][alignment='end']) {
    position-area: top span-left;
  }

  /** bottom */
  :host([position='bottom']) {
    position-area: bottom center;
  }

  :host([position='bottom'][alignment='start']) {
    position-area: bottom span-right;
  }

  :host([position='bottom'][alignment='end']) {
    position-area: bottom span-left;
  }

  /** left */
  :host([position='left']) {
    position-area: left center;
  }

  :host([position='left'][alignment='end']) {
    position-area: left span-top;
  }

  :host([position='left'][alignment='start']) {
    position-area: left span-bottom;
  }

  /** right */
  :host([position='right']) {
    position-area: right center;
  }

  :host([position='right'][alignment='end']) {
    position-area: right span-top;
  }

  :host([position='right'][alignment='start']) {
    position-area: right span-bottom;
  }

  :host([popover]) {
    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;
    position-try:
      flip-block,
      flip-inline,
      flip-block flip-inline;
  }
}

:host([popover][modal]:not(:state(anchor-positioning-fallback)))::before {
  content: ' ';
  display: block;
  inset: 0;
  z-index: 99;
  position: fixed;
}

:host(:state(anchor-positioning-fallback)) {
  margin: 0;
  position-area: unset !important;
  position-anchor: unset !important;
  position-try: unset !important;
}

:host(:state(anchor-positioning-fallback):not([popover])) {
  display: contents;
}
