:host {
  --mlv-sys-interaction-background: var(--mlv-sys-interaction-background-200);
  --mlv-sys-interaction-field-background: var(--mlv-sys-interaction-background-200);
  --background: var(--mlv-sys-layer-container-background);
  --color: var(--mlv-sys-layer-canvas-color);
  --border-radius: 0;
  --header-padding: var(--mlv-ref-size-300) var(--mlv-ref-size-400);
  --cursor: pointer;
  width: 100%;
  contain: none;
}

[internal-host] {
  border-radius: var(--border-radius);
  background: var(--background);
  color: var(--color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100%;
}

#header {
  cursor: var(--cursor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
}

[internal-host].has-action #header {
  flex-direction: row-reverse;
  justify-content: start;
  gap: var(--mlv-ref-space-xxs);
}

:host(:not(:state(expanded))) #content {
  display: none;
}

:host([container='inset']) {
  --border-radius: var(--mlv-ref-border-radius-md);
}

:host([container='flat']) {
  --background: inherit;
}

:host([disabled]) {
  --cursor: not-allowed;
}

:host([disabled]) ::slotted(mlv-accordion-header) {
  --cursor: not-allowed;
}
