:host {
  --border-bottom: var(--mlv-ref-border-width-sm) solid var(--mlv-ref-border-color);
  --min-height: calc(var(--mlv-ref-size-1000) + var(--mlv-ref-size-200));
  --padding: var(--mlv-ref-size-300);
  display: block;
  width: 100%;
}

[internal-host] {
  border-bottom: var(--border-bottom);
  padding: var(--padding);
  color: var(--color);
  min-height: var(--min-height);
  display: flex;
  align-items: center;
}