:host {
  --mlv-sys-interaction-background: var(--mlv-sys-interaction-background-300);
  --mlv-sys-interaction-field-background: var(--mlv-sys-interaction-background-300);
  --mlv-sys-layer-popover-arrow-padding: 0;
  --mlv-sys-layer-popover-arrow-offset: 0;
  --mlv-sys-layer-popover-offset: 0;
  --border: var(--mlv-ref-border-width-sm) solid var(--mlv-ref-border-color-muted);
  --background: var(--mlv-sys-layer-overlay-background);
  --color: var(--mlv-sys-layer-overlay-color);
  --padding: 0;
  --box-shadow: var(--mlv-ref-shadow-500);
  --gap: var(--mlv-ref-space-sm);
  --top: 0px;
  --min-height: calc(100% - var(--top));
  --max-width: 400px;
  --width: 100%;
  display: contents;
  contain: none;
}

:host([size='sm']) {
  --max-width: 280px;
}

:host([size='lg']) {
  --max-width: 540px;
}

dialog {
  border: var(--border);
  background: var(--background);
  color: var(--color);
  box-shadow: var(--box-shadow);
  max-width: var(--max-width);
  min-height: var(--min-height);
  width: var(--width);
  top: var(--top) !important;
  bottom: 0 !important;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  max-height: 100%;
}

:host([position="left"]) dialog {
  right: initial !important;
  left: 0 !important;
  border-left: 0;
}

:host([position="left"][hidden]) dialog {
  right: initial !important;
  left: -400px !important;
}

:host([position="right"]) dialog {
  left: initial !important;
  right: 0 !important;
  border-right: 0;
}

:host([position="right"][hidden]) dialog {
  left: initial !important;
  right: -400px !important;
}

:host([hidden]) {
  display: block !important;
  position: absolute;
}

:host([inline]) {
  --mlv-sys-interaction-background: var(--mlv-sys-interaction-background-200);
  --mlv-sys-interaction-field-background: var(--mlv-sys-interaction-background-200);
  --background: var(--mlv-sys-layer-container-background);
  --box-shadow: none;
  --border: 0;
}

:host([inline])::after {
  transition: width var(--mlv-ref-animation-duration-200) var(--mlv-ref-animation-easing-100);
  height: 1px;
  width: 0;
  content: '';
}

:host([inline]:not([hidden]))::after {
  display: block;
  width: var(--max-width);
}

dialog::backdrop {
  background: hsla(0, 0%, 0%, 0.070); /* --mlv-sys-layer-backdrop-background (not available on top layer */
}

:host([inline]) dialog::backdrop {
  background: transparent;
}

.header {
  display: flex;
  gap: var(--gap);
}

.content {
  padding: var(--padding);  
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
  flex: 1;
}

mlv-icon-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 99;
}
