:host {
  --border-top: var(--mlv-ref-border-width-sm) solid var(--mlv-ref-border-color);
  --padding: var(--mlv-ref-size-300);
  --gap: var(--mlv-ref-space-sm);
  --min-height: calc(var(--mlv-ref-size-1000) + var(--mlv-ref-size-200));
  display: block;
}

[internal-host] {
  border-top: var(--border-top);
  padding: var(--padding);
  gap: var(--gap);
  min-height: var(--min-height);
  display: flex;
  align-items: center;
}