
:host {
  --border-width: 100%;
  --border-height: var(--mlv-ref-border-width-xl);
  --border-top: auto;
  --width: 100%;
  --font-size: var(--mlv-ref-font-size-100);
  --font-weight: var(--mlv-ref-font-weight-medium);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --color: var(--mlv-sys-text-muted-color);
  --height: var(--mlv-ref-size-800);
  --cursor: pointer;
  --mlv-sys-interaction-state-ratio: 0;
}

[internal-host] {
  width: var(--width);
  gap: var(--mlv-ref-space-xs);
  padding: 0 var(--mlv-ref-size-200);
  height: var(--height);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--mlv-ref-font-size-500);
  background-image: linear-gradient(color-mix(in oklab, var(--mlv-sys-interaction-state-base) 100%, var(--mlv-sys-interaction-state-mix) var(--mlv-sys-interaction-state-ratio)) 0 0) !important;
  inset: var(--border-inset);
  border-radius: var(--border-radius);
  cursor: var(--cursor);
  display: inline-flex;
  align-items: center;
  border: 0;
  position: relative;
}

:host(:--selected) {
  --color: var(--mlv-sys-text-emphasis-color);
  --font-weight: var(--mlv-ref-font-weight-semibold);


  &:after {
    width: var(--border-width);
    height: var(--border-height);
    border-radius: var(--border-radius);
    background: var(--mlv-sys-accent-secondary-background);
    top: var(--border-top);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  ::slotted(mlv-icon) {
    --color: var(--mlv-sys-interaction-color);
  }
}

:host(:hover:not(:--disabled, :--selected)) {
  --color: var(--mlv-sys-text-emphasis-color);
  --mlv-sys-interaction-state-ratio: var(--mlv-sys-interaction-state-ratio-hover);
}

:host(:--disabled) {
  --color: var(--mlv-sys-interaction-disabled-color);
  --cursor: not-allowed;
}

:host(:is(:focus, focused)) {
  [internal-host] {
    outline-offset: -3px;
    outline: 5px auto -webkit-focus-ring-color; /* var(--mlv-ref-outline-webkit) */
    outline: Highlight solid 2px; /* --mlv-ref-outline */
  }
}