
:host {
  --border-width: 100%;
  --border-height: var(--nve-ref-border-width-lg);
  --border-top: auto;
  --width: 100%;
  --font-size: var(--nve-ref-font-size-200);
  --font-weight: var(--nve-ref-font-weight-semibold);
  --nve-sys-interaction-state-ratio: 0;
}

[internal-host] {
  display: inline-flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  width: var(--width);
  gap: var(--nve-ref-space-xs);
  padding: 0 var(--nve-ref-size-200);
  height: var(--nve-ref-size-800);
  color: var(--nve-sys-text-muted-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--nve-ref-font-size-500);
  position: relative;
  background-image: linear-gradient(color-mix(in oklab, var(--nve-sys-interaction-state-base) 100%, var(--nve-sys-interaction-state-mix) var(--nve-sys-interaction-state-ratio)) 0 0) !important;
  inset: var(--border-inset);
}

:host(:is(:--selected)) {
  &:after {
    content: '';
    display: block;
    width: var(--border-width);
    height: var(--border-height);
    border-radius: var(--nve-ref-border-radius-xs);
    background: var(--nve-sys-accent-secondary-background);
    position: absolute;
    bottom: 0;
    top: var(--border-top);
    left: 0;
  }

  [internal-host] {
    color: var(--nve-sys-text-emphasis-color);
    border-radius: var(--nve-ref-border-radius-sm);

    ::slotted(nve-icon) {
      --color: var(--nve-sys-interaction-color);
    }
  }
}

:host(:hover:not(:--disabled, :--selected)) {
  [internal-host] {
    color: var(--nve-sys-text-emphasis-color);
    border-radius: var(--nve-ref-border-radius-sm);
    --nve-sys-interaction-state-ratio: var(--nve-sys-interaction-state-ratio-hover);
  }
}

:host(:--disabled) {
  [internal-host] {
    cursor: not-allowed;
    color: var(--nve-sys-interaction-disabled-color);
  }
}

:host(:is(:focus, focused)) {
  [internal-host] {
    outline-offset: -3px;
    outline: 5px auto -webkit-focus-ring-color; /* var(--nve-ref-outline-webkit) */
    outline: Highlight solid 2px; /* --nve-ref-outline */
  }
}