
:host {
  --border-bottom-width: var(--nve-ref-border-width-lg) ;
  --border-left-width: 0;
  --font-size: var(--nve-ref-font-size-200);
  --font-weight: var(--nve-ref-font-weight-semibold);
  --nve-sys-interaction-state-ratio: 0;
}

[internal-host] {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  width: 100%;
  gap: var(--nve-ref-space-xs);
  padding: 0 var(--nve-ref-size-200);
  height: var(--nve-ref-size-800);
  color: var(--nve-sys-text-muted-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--nve-ref-font-size-500);
  border-bottom: var(--border-bottom-width) solid transparent;
  border-left: var(--border-left-width) solid transparent;
  background-image: linear-gradient(color-mix(in oklab, var(--nve-sys-interaction-state-base) 100%, var(--nve-sys-interaction-state-mix) var(--nve-sys-interaction-state-ratio)) 0 0) !important;
}

:host(:is(:--selected)) {
  [internal-host] {
    border-bottom: var(--border-bottom-width) solid var(--nve-sys-accent-secondary-background);
    border-left: var(--border-left-width) solid var(--nve-sys-accent-secondary-background);
    color: var(--nve-sys-text-emphasis-color);
    border-radius: 0 !important;
    /* --nve-sys-interaction-state-ratio: 0 !important; */
  }
}

:host(:hover:not(:--disabled, :--selected)) {
  [internal-host] {
    color: var(--nve-sys-text-emphasis-color);
    border-radius: var(--nve-ref-border-radius-sm);
    --nve-sys-interaction-state-ratio: var(--nve-sys-interaction-state-ratio-hover);
  }
}

:host(:--disabled) {
  [internal-host] {
    cursor: not-allowed;
    color: var(--nve-sys-interaction-disabled-color);
  }
}

:host(:is(:focus, focused)) {
  [internal-host] {
    outline-offset: -3px;
    outline: 5px auto -webkit-focus-ring-color; /* var(--nve-ref-outline-webkit) */
    outline: Highlight solid 2px; /* --nve-ref-outline */
  }
}