:host {
  --gap: var(--nve-ref-space-xs);
}

[internal-host] {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: var(--nve-ref-border-color-muted) var(--background, transparent);
  scrollbar-width: thin;
}

:host([vertical]) {
  --gap: var(--nve-ref-space-xxxs);
}

:host([vertical]) [internal-host] {
  flex-direction: column;
}

:host([vertical]) ::slotted(mlv-tabs-item),
:host([vertical]) ::slotted(nve-tabs-item) {
  --border-width: var(--nve-ref-border-width-lg);
  --border-height: 24px;
  --border-top: calc(50% - 12px);
  --border-inset: 0 8px 0 8px;
  --width: calc(100% - 8px);
}

:host([vertical]) ::slotted(mlv-tabs-item:state(selected)),
:host([vertical]) ::slotted(nve-tabs-item:state(selected)) {
  --nve-sys-interaction-state-ratio: var(--nve-sys-interaction-state-ratio-hover);
}

:host([borderless]) ::slotted(mlv-tabs-item),
:host([borderless]) ::slotted(nve-tabs-item) {
  --border-width: 0;
  --border-height: 0;
}

::slotted(mlv-tabs-item),
::slotted(nve-tabs-item) {
  white-space: nowrap;
}
