
:host {
  --gap: var(--mlv-ref-space-xs);
}

[internal-host] {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

:host([vertical]) {
  --gap: var(--mlv-ref-space-xxxs);

  [internal-host] {
    flex-direction: column;
  }

  ::slotted(mlv-tabs-item) {
    --border-width: var(--mlv-ref-border-width-lg);
    --border-height: 24px;
    --border-top: calc(50% - 12px);
    --border-inset: 0 8px 0 8px;
    --width: calc(100% - 8px);
  }

  ::slotted(mlv-tabs-item:--selected) {
    --mlv-sys-interaction-state-ratio: var(--mlv-sys-interaction-state-ratio-hover);
  }
}

:host([borderless]) {
  ::slotted(mlv-tabs-item) {
    --border-width: 0;
    --border-height: 0;
  }
}