:host {
  --border-radius: var(--mlv-ref-border-radius-full);
  --padding: 0;
  --line-height: 0;
  --gap: 0;
  --height: var(--mlv-ref-size-800);
  --width: var(--mlv-ref-size-800);
  --icon-width: var(--mlv-ref-size-400);
  --icon-height: var(--mlv-ref-size-400);
  --font-size: calc(var(--width) / 2);
}

:host([size='sm']) {
  --padding: 0;
  --height: var(--mlv-ref-size-600);
  --width: var(--mlv-ref-size-600);
  --icon-width: var(--mlv-ref-size-300);
  --icon-height: var(--mlv-ref-size-300);
}

:host([size='lg']) {
  --width: calc(var(--mlv-ref-size-1000) + var(--mlv-ref-size-100));
  --height: calc(var(--mlv-ref-size-1000) + var(--mlv-ref-size-100));
  --padding: 0;
}

:host([interaction*='ghost']), /** @deprecated ghost */
:host([interaction*='flat']) {
  --color: var(--mlv-sys-support-emphasis-color);
  --padding: 0;
}

:host([interaction*='ghost']:--pressed), /** @deprecated ghost */
:host([interaction*='flat']:--pressed) {
  --color: var(--mlv-sys-text-emphasis-color);
}

[internal-host] {
  font-size: var(--font-size);
}

mlv-icon {
  --color: var(--_icon-color);
  --width: var(--icon-width);
  --height: var(--icon-height);
  pointer-events: none;
}

:host([icon-name='cancel']) {
  --icon-height: var(--mlv-ref-size-300);
  --icon-width: var(--mlv-ref-size-300);
}

::slotted(a) {
  text-decoration: none !important;
  color: var(--color) !important;
  outline: 0;
}

::slotted(a)::after {
  display: block;
  content: ' ';
  inset: 0;
  position: absolute;
}
