:host {
  --color: var(--nve-sys-text-muted-color);
  --border-radius: var(--nve-ref-border-radius-full);
  --padding: 0;
  --line-height: 0;
  --gap: 0;
  --height: var(--nve-ref-size-800);
  --width: var(--nve-ref-size-800);
  --font-size: calc(var(--width) / 2.3);
}

:host([size='sm']) {
  --padding: 0;
  --height: var(--nve-ref-size-700);
  --width: var(--nve-ref-size-700);
}

:host([size='lg']) {
  --width: var(--nve-ref-size-1000);
  --height: var(--nve-ref-size-1000);
  --padding: 0;
}

[internal-host] {
  font-size: var(--font-size);
}

nve-icon {
  --color: var(--_icon-color);
  pointer-events: none;
}

::slotted(a) {
  text-decoration: none !important;
  color: var(--color) !important;
  outline: 0;
}

::slotted(a)::after {
  display: block;
  content: ' ';
  inset: 0;
  position: absolute;
}

/* deprecated */
:host([interaction*='flat']) [interaction-state] {
  --nve-sys-interaction-state-ratio: 0 !important;
}

/* deprecated */
:host(:not([interaction='emphasis'], [interaction='destructive'], [disabled]):hover) {
  --color: var(--nve-sys-text-emphasis-color) !important;
}

/* deprecated */
:host([interaction*='flat']:state(pressed)) {
  --color: var(--nve-sys-text-emphasis-color) !important;
  --background: none !important;
}

/** @deprecated (left) 0.14.0 */
:host([icon-name='chevron-left']),
:host([icon-name='beginning']),
:host([icon-name='collapse-panel']),
:host([icon-name='navigate-back']) {
  transform: rotate(270deg);
}

/** @deprecated (right) 0.14.0 */
:host([icon-name='chevron-right']),
:host([icon-name='end']),
:host([icon-name='expand-panel']),
:host([icon-name='navigate-to']),
:host([icon-name='carousel-horizontal']) {
  transform: rotate(90deg);
}

/** @deprecated (down) 0.14.0 */
:host([icon-name='chevron-down']),
:host([icon-name*='thumbs-down']) {
  transform: rotate(180deg);
}
