:host {
  --border-radius: var(--mlv-ref-border-radius-full);
  --padding: 0;
  --line-height: 0;
  --gap: 0;
  --height: var(--mlv-ref-size-800);
  --width: var(--mlv-ref-size-800);
}

:host([size='sm']) {
  --padding: 0;
  --height: var(--mlv-ref-size-700);
  --width: var(--mlv-ref-size-700);

  & mlv-icon {
    --width: var(--mlv-ref-size-300);
    --height: var(--mlv-ref-size-300);
  }
}

:host([size='lg']) {
  --width: calc(var(--mlv-ref-size-1000) + var(--mlv-ref-size-100));
  --height: calc(var(--mlv-ref-size-1000) + var(--mlv-ref-size-100));
  --padding: 0;
}

:host([interaction*='ghost']) {
  --color: var(--mlv-sys-status-neutral-background);
  --padding: 0;
}

mlv-icon {
  --color: var(--_icon-color);
  pointer-events: none;
}

::slotted(a) {
  text-decoration: none !important;
  color: var(--color) !important;
  outline: 0;
}

::slotted(a)::after {
  display: block;
  content: ' ';
  inset: 0;
  position: absolute;
}
