
nve-grid-row:has(nve-grid-cell:first-child nve-radio > input:checked) nve-grid-row,
nve-grid-row:has(nve-grid-cell:first-child nve-checkbox > input:checked) nve-grid-row,
nve-grid-row:has(nve-grid-cell:first-child nve-radio > input:checked) nve-grid-cell,
nve-grid-row:has(nve-grid-cell:first-child nve-checkbox > input:checked) nve-grid-cell {
  --background: var(--nve-sys-interaction-highlighted-muted-background);
  --interaction-state-ratio: var(--nve-sys-interaction-state-ratio-selected);
}

nve-grid:has(nve-grid-cell:first-child nve-radio),
nve-grid:has(nve-grid-cell:first-child nve-checkbox) {
  --grid-auto-columns: 36px minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

nve-grid[container='flat'] nve-grid-header {
  --background: var(--nve-sys-layer-canvas-background);
}

nve-card nve-grid[container='flat'] nve-grid-header,
nve-panel nve-grid[container='flat'] nve-grid-header,
nve-dialog nve-grid[container='flat'] nve-grid-header,
nve-drawer nve-grid[container='flat'] nve-grid-header,
nve-accordion nve-grid[container='flat'] nve-grid-header {
  --background: var(--nve-sys-layer-container-background);
}

nve-grid-column[width='max-content'] {
  --padding: var(--nve-ref-size-300);
}

nve-grid-cell:has(> nve-icon-button) {
  --padding: 0 var(--nve-ref-size-100);
}

nve-grid-cell:has(> nve-checkbox),
nve-grid-cell:has(> nve-radio) {
  --padding: var(--nve-ref-size-200) var(--nve-ref-size-300);
}

nve-grid:has(nve-bulk-actions:not([hidden]))::part(scrollbox),
nve-grid:has(nve-toolbar:not([hidden]))::part(scrollbox) {
  padding-bottom: var(--nve-ref-size-1000);
}

nve-grid:has(nve-bulk-actions:not([hidden])),
nve-grid:has(nve-toolbar:not([hidden])) {
  contain: content;
}

nve-grid-column > nve-sort-button + nve-icon-button {
  margin-inline-start: initial;
}

nve-grid-cell:focus-within > a {
  box-shadow: 0 0 0 2px Highlight; /* programatic focus does not trigger standard outline style */
}

nve-grid {
  &:has([scroller]) nve-grid-header {
    --padding: 0 16px 0 0;
  }

  & [scroller]::-webkit-scrollbar {
    background: var(--background);
    width: 12px;
    height: 12px;
  }

  & [scroller]::-webkit-scrollbar-track {
    height: 100vh;
  }

  & [scroller]::-webkit-scrollbar-thumb {
    background: var(--nve-ref-border-color-muted);
    border: 2px solid var(--background);
    border-radius: 50px;
  }

  & [scroller]::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
}
