
mlv-grid-row:has(mlv-grid-cell:first-child mlv-radio > input:checked) mlv-grid-row,
mlv-grid-row:has(mlv-grid-cell:first-child mlv-checkbox > input:checked) mlv-grid-row,
mlv-grid-row:has(mlv-grid-cell:first-child mlv-radio > input:checked) mlv-grid-cell,
mlv-grid-row:has(mlv-grid-cell:first-child mlv-checkbox > input:checked) mlv-grid-cell {
  --background: var(--mlv-sys-interaction-highlighted-muted-background);
  --interaction-state-ratio: var(--mlv-sys-interaction-state-ratio-selected);
}

mlv-grid:has(mlv-grid-cell:first-child mlv-radio),
mlv-grid:has(mlv-grid-cell:first-child mlv-checkbox) {
  --grid-auto-columns: 36px minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

mlv-grid[container='flat'] mlv-grid-header {
  --background: var(--mlv-sys-layer-canvas-background);
}

mlv-card mlv-grid[container='flat'] mlv-grid-header,
mlv-panel mlv-grid[container='flat'] mlv-grid-header,
mlv-dialog mlv-grid[container='flat'] mlv-grid-header,
mlv-drawer mlv-grid[container='flat'] mlv-grid-header,
mlv-accordion mlv-grid[container='flat'] mlv-grid-header {
  --background: var(--mlv-sys-layer-container-background);
}

mlv-grid-column[width='max-content'] {
  --padding: var(--mlv-ref-size-300);
}

mlv-grid-cell:has(> mlv-icon-button) {
  --padding: 0 var(--mlv-ref-size-100);
}

mlv-grid-cell:has(> mlv-checkbox),
mlv-grid-cell:has(> mlv-radio) {
  --padding: var(--mlv-ref-size-200) var(--mlv-ref-size-300);
}

mlv-grid:has(mlv-toolbar:not([hidden]))::part(scrollbox) {
  padding-bottom: var(--mlv-ref-size-1000);
}

mlv-grid:has(mlv-toolbar:not([hidden])) {
  contain: content;
}

mlv-grid-column > mlv-sort-button + mlv-icon-button {
  margin-inline-start: initial;
}

mlv-grid-cell:focus-within > a {
  box-shadow: 0 0 0 2px Highlight; /* programatic focus does not trigger standard outline style */
}

mlv-grid {
  &:has([scroller]) mlv-grid-header {
    --padding: 0 16px 0 0;
  }

  & [scroller]::-webkit-scrollbar {
    background: var(--background);
    width: 12px;
    height: 12px;
  }

  & [scroller]::-webkit-scrollbar-track {
    height: 100vh;
  }

  & [scroller]::-webkit-scrollbar-thumb {
    background: var(--mlv-ref-border-color-muted);
    border: 2px solid var(--background);
    border-radius: 50px;
  }

  & [scroller]::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
}
