:host {
  --padding: var(--nve-ref-space-xl) var(--nve-ref-space-lg);
  display: block;
  width: 100%;
}

nve-codeblock {
  --padding: var(--nve-ref-space-lg);
  --border-radius: 0;
  font-size: 14px;
}

nve-toolbar {
  --border-radius: 0;
  --padding: var(--nve-ref-space-xxs);
  --border-bottom: 0;
  --min-height: fit-content;
  overflow: hidden;
  border-bottom-right-radius: var(--nve-ref-border-radius-md);
  border-bottom-left-radius: var(--nve-ref-border-radius-md);
  border-top: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
}

slot:not([name]) {
  padding: var(--padding);
  display: block;
  resize: horizontal;
  overflow: auto;
  width: 100%;
}

slot[name='suffix'] {
  display: block;
  gap: 8px;
  display: flex;
}

nve-select[container='flat'] {
  --font-weight: var(--nve-ref-font-weight-semibold);
  --border-bottom: 0;
  margin-left: auto;
  width: 54px;
}

nve-select::part(caret) {
  display: none;
}

.resizer {
  display: flex;
  align-items: stretch;
  min-height: 80px;
}

.preview-backdrop {
  background: var(--nve-ref-color-neutral-200);
  min-height: 100%;
  flex: 1;
}

[internal-host] {
  border: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
  border-radius: var(--nve-ref-border-radius-md);
}

.code {
  position: relative;
  margin-top: 1px;
}

.toolbar {
  display: flex;
  gap: var(--nve-ref-space-xxs);
  padding: var(--nve-ref-space-xxs);
  border-top: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
}

nve-copy-button {
  position: absolute;
  top: 4px;
  right: 4px;
}
