nve-page {
  --background: var(--nve-sys-layer-shell-background);
}
[nve-theme='light'] nve-page {
  --background: var(--nve-sys-layer-accent-canvas-background);
}

nve-page-header {
  --background: transparent;
  -webkit-backdrop-filter: blur(0.625rem);
  backdrop-filter: blur(0.625rem);
}

#main-slot {
  width: 100%;
}

main {
  width: 1280px;
}

.feature {
  max-width: 360px;
}

/* Gradient Classes */

.silver-gradient {
  background: linear-gradient(45deg, rgba(161, 161, 170, 0.5) 0%, #fff 50%, rgba(255, 255, 255, 0.6) 100%);
}

.coral-yellow-gradient {
  background: linear-gradient(90deg, #fb9191 25%, #f3e56b 75%);
}

.amber-lime-gradient {
  background: linear-gradient(90deg, #ffc46c 0%, #83ff81 100%);
}

.lime-cyan-gradient {
  background: linear-gradient(90deg, #d4ff9c 0%, #9ef9ff 100%);
}

.blue-purple-gradient {
  background: linear-gradient(90deg, #a4c8ff 0%, #bfa9ff 100%);
}

.fuchsia-lavender-gradient {
  background: linear-gradient(90deg, #e3a6ff 20%, #9ecfff 87%);
}

.lime-green-gradient {
  background: linear-gradient(88deg, #d4ff9c 6.43%, #9edb65 50%, #83ff81 93.57%);
}

.amber-orange-gradient {
  background: linear-gradient(90deg, #ffc46c, #ff9e4a);
}

.gradient-txt {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Theme Widget */

/* Stars Background */

.stars-wrapper {
  position: relative;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#16161d, #1f1f3a, #3b2f4a);
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: twinkle var(--twinkle-duration) ease-in-out infinite;

  &:nth-child(2) {
    animation-delay: calc(var(--twinkle-duration) * -0.33);
  }
  &:nth-child(3) {
    animation-delay: calc(var(--twinkle-duration) * -0.66);
  }

  @keyframes twinkle {
    25% {
      opacity: 0;
    }
  }
}

.star {
  fill: white;

  &:nth-child(3n) {
    opacity: 0.8;
  }
  &:nth-child(7n) {
    opacity: 0.6;
  }
  &:nth-child(13n) {
    opacity: 0.4;
  }
  &:nth-child(19n) {
    opacity: 0.2;
  }
}

/* Metrics Highlights */
.features-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--nve-ref-size-400);
}

.feature-grid-item {
  border-radius: var(--nve-ref-border-radius-lg);
  padding: var(--nve-ref-size-400);
  border: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
  background: linear-gradient(113deg, rgba(24, 26, 32, 0.75) 4.87%, #0b0c0f 75.88%);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(5px);
}

.metrics-highlights {
  position: relative;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

nvd-starry-sky {
  position: absolute;
  margin-left: calc(-50vw + 50%);
}

/* Starters */
/* Stay in the Loop */
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.contact {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/4;
  border: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
  border-radius: var(--nve-ref-border-radius-lg);
  background: linear-gradient(113deg, rgba(24, 26, 32, 0.75) 4.87%, #0b0c0f 75.88%);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(5px);
  padding: var(--nve-ref-size-600);
}

.contact nve-button {
  max-width: max-content;
}
