:host {
  --gap: var(--nve-ref-space-xs);
  --font-size: var(--nve-ref-font-size-200);
  --padding: var(--nve-ref-size-200) var(--nve-ref-size-300);
  --border-radius: var(--nve-ref-border-radius-md);
  --icon-size: var(--nve-ref-size-600);
  --color: var(--nve-sys-text-color);
  --icon-color: var(--nve-sys-support-emphasis-color);
  --background: var(--nve-sys-support-muted-color);
  width: 100%;
}

[internal-host] {
  background: var(--background);
  font-size: var(--font-size);
  gap: var(--gap);
  color: var(--color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  --_alert-color: var(--color);
  --_icon-color: var(--icon-color);
}

::slotted(nve-alert),
::slotted(mlv-alert) {
  --color: var(--_alert-color);
  --icon-color: var(--_icon-color);
  --icon-size: var(--nve-ref-size-400);
  --min-height: var(--nve-ref-size-800);
  width: 100%;
  height: 100%;
}

:host([status='accent']) {
  --background: var(--nve-sys-support-accent-muted-color);
  --icon-color: var(--nve-sys-support-accent-emphasis-color);
}

:host([status='success']) {
  --background: var(--nve-sys-support-success-muted-color);
  --icon-color: var(--nve-sys-support-success-emphasis-color);
}

:host([status='warning']) {
  --background: var(--nve-sys-support-warning-muted-color);
  --icon-color: var(--nve-sys-support-warning-emphasis-color);
}

:host([status='danger']) {
  --background: var(--nve-sys-support-danger-muted-color);
  --icon-color: var(--nve-sys-support-danger-emphasis-color);
}

:host([container='full']) {
  --border-radius: 0;
}

:host([prominence='emphasis']) {
  --color: var(--nve-sys-text-white-color);
  --icon-color: var(--color);
}

:host([prominence='emphasis'][status='accent']) {
  --background: var(--nve-sys-support-accent-color);
  --icon-color: var(--color);
}

:host([prominence='emphasis'][status='success']) {
  --background: var(--nve-sys-support-success-color);
  --icon-color: var(--color);
}

:host([prominence='emphasis'][status='warning']) {
  --background: var(--nve-sys-support-warning-color);
  --icon-color: var(--color);
  --color: var(--nve-sys-text-black-color);
}

:host([prominence='emphasis'][status='danger']) {
  --background: var(--nve-sys-support-danger-color);
  --icon-color: var(--color);
}

:host([prominence='emphasis']) ::slotted(mlv-alert),
:host([prominence='emphasis']) ::slotted(nve-alert) {
  --font-weight: var(--nve-ref-font-weight-regular);
}
