
:host {
  --gap: var(--mlv-ref-space-xs);
  --font-size: var(--mlv-ref-font-size-200);
  --color: var(--mlv-sys-text-default-color);
  --icon-color: var(--mlv-sys-text-default-color);
  --icon-size: var(--mlv-ref-size-400);
  --font-weight: var(--mlv-ref-font-weight-regular);
  width: auto;
}

slot,
[internal-host] {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  gap: var(--gap);
  color: var(--color);
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
}

slot {
  flex-wrap: wrap;
}

::slotted(mlv-button[interaction='ghost']) {
  --color: inherit;
}

slot[name='actions'] {
  margin-left: auto;
}

mlv-icon {
  --color: var(--icon-color);
  --width: var(--icon-size);
  --height: var(--icon-size);
}

mlv-icon-button {
  --color: var(--icon-color);
  margin-left: auto;
}

:host([status='muted']) {
  --color: var(--mlv-sys-text-muted-color);
}

:host([status='accent']) {
  --icon-color: var(--mlv-sys-status-accent-background);
}

:host([status='success']) {
  --icon-color: var(--mlv-sys-status-success-background);
  --color: var(--mlv-sys-status-success-background);
}

:host([status='warning']) {
  --icon-color: var(--mlv-sys-status-warning-background);
}

:host([status='danger']) {
  --icon-color: var(--mlv-sys-status-danger-background);
  --color: var(--mlv-sys-status-danger-background);
}
