:host {
  width: 100%;
  --height: var(--nve-ref-size-200);
}

:host([status='accent']) {
  --accent-color: var(--nve-sys-support-accent-color);
}

:host([status='success']) {
  --accent-color: var(--nve-sys-support-success-color);
}

:host([status='warning']) {
  --accent-color: var(--nve-sys-support-warning-color);
}

:host([status='danger']) {
  --accent-color: var(--nve-sys-support-danger-color);
}

:host([status='neutral']) {
  --accent-color: var(--mlv-sys-accent-primary-background); /* brand green */
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--nve-sys-interaction-field-background);
  border-radius: var(--nve-ref-border-radius-full);
  height: var(--height);
  width: 100%;
}

progress.indeterminate {
  animation: 1s ease-out 0s infinite normal none running horizontal-animation;
  --height: var(--nve-ref-size-150);
}

progress[value].indeterminate::-webkit-progress-value {
  border-radius: 0;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--nve-sys-interaction-field-background);
  border-radius: var(--nve-ref-border-radius-full);
}

progress[value]::-webkit-progress-value {
  border-radius: var(--nve-ref-border-radius-full);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--accent-color);
}

progress[value].full::-webkit-progress-value {
  border-top-right-radius: var(--nve-ref-border-radius-full);
  border-bottom-right-radius: var(--nve-ref-border-radius-full);
}

progress[value].minWidth::-webkit-progress-value {
  min-width: 5px;
}

progress[value]::-moz-progress-bar {
  border-radius: var(--nve-ref-border-radius-full);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--accent-color);
}

@keyframes horizontal-animation {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 50%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
