
:host {
  --background: color-mix(in oklab, var(--status-color) var(--nve-sys-contrast-mute-ratio), var(--nve-sys-contrast-mute-color));
  --gap: var(--nve-ref-space-xs);
  --font-size: var(--nve-ref-font-size-100);
  --status-color: var(--nve-sys-status-color);
  --padding: var(--nve-ref-size-150) var(--nve-ref-size-200);
  --border-radius: var(--nve-ref-border-radius-sm);
  --font-weight: var(--nve-ref-font-weight-semibold);
  --width: initial;
  --height: initial;
}

@supports not (background: color-mix(in oklab, #000 0%, #fff)) {
  [internal-host] {
    --background: var(--status-color);
    border: 1px solid transparent;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.8) 0 0) !important;
  }
}

[internal-host] {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  gap: var(--gap);
  background: var(--background);
  color: var(--status-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: var(--width);
  height: var(--height);
  display: inline-flex;
  align-items: center;
  line-height: 1em;
  place-items: center;
  place-content: center;
}

:host(:--has-text) {
  --height: 18px;
  --width: 18px;
}

::slotted([nve-text]) {
  color: inherit !important;
}

nve-icon,
::slotted(nve-icon) {
  --color: var(--status-color);
  --width: var(--nve-ref-size-300);
  --height: var(--nve-ref-size-300);
}

/* trend status */
:host([status='trend-down']) {
  --status-color: var(--nve-sys-visualization-trend-negative-emphasis-color);
}

:host([status='trend-up']) {
  --status-color: var(--nve-sys-visualization-trend-positive-emphasis-color);
}

:host([status='trend-neutral']) {
  --status-color: var(--nve-sys-status-pending-color);
}
