/* https://seek-oss.github.io/capsize/ */
:is(
    [mlv-text~='display'],
    [mlv-text~='heading'],
    [mlv-text~='body'],
    [mlv-text~='label'],
    [mlv-text~='eyebrow']
  )::before {
  content: '';
  margin-bottom: -0.1818em;
  display: table;
}

:is(
    [mlv-text~='display'],
    [mlv-text~='heading'],
    [mlv-text~='body'],
    [mlv-text~='label'],
    [mlv-text~='eyebrow']
  )[mlv-text]::after {
  content: '';
  margin-top: -0.1818em;
  display: table;
}

[mlv-text~='display'],
[mlv-text~='heading'],
[mlv-text~='body'],
[mlv-text~='label'],
[mlv-text~='eyebrow'],
[mlv-text~='list'],
[mlv-text~='list'] li {
  font-family: var(--nve-ref-font-family) !important;
  font-weight: var(--nve-ref-font-weight-regular) !important;
  color: var(--nve-sys-text-color) !important;
  white-space: initial;
  margin: 0;
  outline: var(--nve-debug-typography-outline, initial);
}

[mlv-text~='trim:none']::before,
[mlv-text~='trim:none']::after {
  content: none !important;
}

[mlv-text~='display'] {
  font-size: var(--nve-ref-font-size-1000) !important;

  &[mlv-text~='xl'] {
    font-size: var(--nve-ref-font-size-1200) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--nve-ref-font-size-1100) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--nve-ref-font-size-900) !important;
  }
}

[mlv-text~='heading'] {
  font-size: var(--nve-ref-font-size-400) !important;

  &[mlv-text~='xl'] {
    font-size: var(--nve-ref-font-size-600) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--nve-ref-font-size-500) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--nve-ref-font-size-300) !important;
  }

  &[mlv-text~='xs'] {
    font-size: var(--nve-ref-font-size-200) !important;
  }
}

[mlv-text~='body'] {
  font-size: var(--nve-ref-font-size-200) !important;
  font-weight: var(--nve-ref-font-weight-regular) !important;

  &[mlv-text~='xl'] {
    font-size: var(--nve-ref-font-size-400) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--nve-ref-font-size-300) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--nve-ref-font-size-100) !important;
  }
}

[mlv-text~='label'] {
  font-size: var(--nve-ref-font-size-200) !important;
  font-weight: var(--nve-ref-font-weight-medium) !important;

  &[mlv-text~='xl'] {
    font-size: var(--nve-ref-font-size-400) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--nve-ref-font-size-300) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--nve-ref-font-size-100) !important;
  }
}

[mlv-text~='eyebrow'] {
  font-size: var(--nve-ref-font-size-100) !important;
  font-weight: var(--nve-ref-font-weight-semibold) !important;

  &[mlv-text~='xl'] {
    font-size: var(--nve-ref-font-size-300) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--nve-ref-font-size-200) !important;
  }
}

/* color */
[mlv-text~='emphasis'] {
  color: var(--nve-sys-text-emphasis-color) !important;
}

[mlv-text~='muted'] {
  color: var(--nve-sys-text-muted-color) !important;
}

/* weights */
[mlv-text~='bold'] {
  font-weight: var(--nve-ref-font-weight-bold) !important;
}

[mlv-text~='semibold'] {
  font-weight: var(--nve-ref-font-weight-semibold) !important;
}

[mlv-text~='regular'] {
  font-weight: var(--nve-ref-font-weight-regular) !important;
}

[mlv-text~='medium'] {
  font-weight: var(--nve-ref-font-weight-medium) !important;
}

[mlv-text~='light'] {
  font-weight: var(--nve-ref-font-weight-light) !important;
}

/* line-heights */
[mlv-text~='tight'] {
  line-height: var(--nve-ref-font-line-height-tight) !important;
}

[mlv-text~='snug'] {
  line-height: var(--nve-ref-font-line-height-snug) !important;
}

[mlv-text~='moderate'] {
  line-height: var(--nve-ref-font-line-height-moderate) !important;
}

[mlv-text~='relaxed'] {
  line-height: var(--nve-ref-font-line-height-relaxed) !important;
}

[mlv-text~='loose'] {
  line-height: var(--nve-ref-font-line-height-loose) !important;
}

[mlv-text~='line-height-3'] {
  line-height: var(--nve-ref-font-line-height-300) !important;
}

[mlv-text~='line-height-4'] {
  line-height: var(--nve-ref-font-line-height-400) !important;
}

[mlv-text~='line-height-5'] {
  line-height: var(--nve-ref-font-line-height-500) !important;
}

[mlv-text~='line-height-6'] {
  line-height: var(--nve-ref-font-line-height-600) !important;
}

[mlv-text~='line-height-7'] {
  line-height: var(--nve-ref-font-line-height-700) !important;
}

[mlv-text~='line-height-8'] {
  line-height: var(--nve-ref-font-line-height-800) !important;
}

[mlv-text~='line-height-9'] {
  line-height: var(--nve-ref-font-line-height-900) !important;
}

[mlv-text~='line-height-10'] {
  line-height: var(--nve-ref-font-line-height-1000) !important;
}

[mlv-text~='list'] {
  margin: 0;
  padding: 0;
  list-style-position: inside !important;

  li {
    margin: 0 !important;
  }

  &[mlv-text~='unstyled'] {
    list-style: none !important;
  }
}

[mlv-text~='link'] {
  color: var(--nve-sys-text-link-color) !important;
  text-decoration: underline !important;
  line-height: inherit !important;
  width: initial !important;

  &:hover,
  &[mlv-text~='hover'] {
    color: var(--nve-sys-text-link-hover-color) !important;
  }

  &[mlv-text~='disabled'] {
    color: var(--nve-sys-text-link-disabled-color) !important;
  }

  &:visited,
  &[mlv-text~='visited'] {
    color: var(--nve-sys-text-link-visited-color) !important;
  }

  &:focus-visible {
    outline: Highlight solid 2px !important;
    outline: 5px auto -webkit-focus-ring-color !important;
  }

  &[mlv-text~='no-visit'] {
    color: var(--nve-sys-text-link-color) !important;
  }

  &[mlv-text~='no-visit']:hover {
    color: var(--nve-sys-text-link-hover-color) !important;
  }

  &[mlv-text~='no-underline'] {
    text-decoration: none !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--nve-ref-font-size-300) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--nve-ref-font-size-100) !important;
  }
}

[mlv-text~='uppercase'] {
  text-transform: uppercase !important;
}

[mlv-text~='lowercase'] {
  text-transform: lowercase !important;
}

[mlv-text~='capitalize'] {
  text-transform: capitalize !important;
}

[mlv-text~='inherit'] {
  color: inherit !important;
}

[mlv-text~='start'] {
  text-align: start !important;
}

[mlv-text~='center'] {
  text-align: center !important;
}

[mlv-text~='end'] {
  text-align: end !important;
}

[mlv-text~='truncate'] {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

[mlv-text~='code'] {
  background: var(--nve-sys-interaction-field-background) !important;
  border-radius: var(--nve-ref-border-radius-xs) !important;
  padding: var(--nve-ref-size-50) var(--nve-ref-size-100) !important;
  color: var(--nve-sys-text-color) !important;
  font-family: monospace !important;
  display: inline-block !important;
}

[mlv-text~='code'][mlv-text~='flat'] {
  background: transparent !important;
}
