/* https://seek-oss.github.io/capsize/ */
:is([mlv-text~='display'], [mlv-text~='heading'], [mlv-text~='body'], [mlv-text~='label'], [mlv-text~='eyebrow'])::before {
  content: '';
  margin-bottom: -0.1818em;
  display: table;
}

:is([mlv-text~='display'], [mlv-text~='heading'], [mlv-text~='body'], [mlv-text~='label'], [mlv-text~='eyebrow'])[mlv-text]::after {
  content: '';
  margin-top: -0.1818em;
  display: table;
}

[mlv-text~='display'], [mlv-text~='heading'], [mlv-text~='body'], [mlv-text~='label'], [mlv-text~='eyebrow'] {
  font-family: var(--mlv-ref-font-family) !important;
  font-weight: var(--mlv-ref-font-weight-regular) !important;
  color: var(--mlv-sys-text-color) !important;
  white-space: initial;
  margin: 0;
}

[mlv-text~='trim:none']::before,
[mlv-text~='trim:none']::after {
  content: none !important;
}

[mlv-text~='display'] {
  font-size: var(--mlv-ref-font-size-1000) !important;

  &[mlv-text~='xl'] {
    font-size: var(--mlv-ref-font-size-1200) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--mlv-ref-font-size-1100) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--mlv-ref-font-size-900) !important;
  }
}

[mlv-text~='heading'] {
  font-size: var(--mlv-ref-font-size-500) !important;

  &[mlv-text~='xl'] {
    font-size: var(--mlv-ref-font-size-700) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--mlv-ref-font-size-600) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--mlv-ref-font-size-400) !important;
  }
}

[mlv-text~='body'] {
  font-size: var(--mlv-ref-font-size-200) !important;
  font-weight: var(--mlv-ref-font-weight-regular) !important;

  &[mlv-text~='xl'] {
    font-size: var(--mlv-ref-font-size-400) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--mlv-ref-font-size-300) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--mlv-ref-font-size-100) !important;
  }
}

[mlv-text~='label'] {
  font-size: var(--mlv-ref-font-size-200) !important;
  font-weight: var(--mlv-ref-font-weight-semibold) !important;

  &[mlv-text~='xl'] {
    font-size: var(--mlv-ref-font-size-400) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--mlv-ref-font-size-300) !important;
  }

  &[mlv-text~='sm'] {
    font-size: var(--mlv-ref-font-size-100) !important;
  }
}

[mlv-text~='eyebrow'] {
  font-size: var(--mlv-ref-font-size-100) !important;
  font-weight: var(--mlv-ref-font-weight-semibold) !important;

  &[mlv-text~='xl'] {
    font-size: var(--mlv-ref-font-size-300) !important;
  }

  &[mlv-text~='lg'] {
    font-size: var(--mlv-ref-font-size-200) !important;
  }
}

/* color */
[mlv-text~='emphasis'] {
  color: var(--mlv-sys-text-emphasis-color) !important;
}

[mlv-text~='muted'] {
  color: var(--mlv-sys-text-muted-color) !important;
}

/* weights */
[mlv-text~='bold'] {
  font-weight: var(--mlv-ref-font-weight-bold) !important;
}

[mlv-text~='semibold'] {
  font-weight: var(--mlv-ref-font-weight-semibold) !important;
}

[mlv-text~='regular'] {
  font-weight: var(--mlv-ref-font-weight-regular) !important;
}

[mlv-text~='medium'] {
  font-weight: var(--mlv-ref-font-weight-medium) !important;
}

[mlv-text~='light'] {
  font-weight: var(--mlv-ref-font-weight-light) !important;
}

[mlv-text~='list'] {
  margin: 0;
  padding: 0;
  list-style-position: inside !important;

  &li {
    margin: 0 !important;
  }

  &[mlv-text~='unstyled'] {
    list-style: none !important;
  }
}

[mlv-text~='link'] {
  color: var(--mlv-sys-text-link-color) !important;
  text-decoration: underline !important;
  line-height: inherit !important;
  width: initial !important;

  &:hover,
  &[mlv-text~='hover'] {
    color: var(--mlv-sys-text-link-hover-color) !important;
  }

  &[mlv-text~='disabled'] {
    color: var(--mlv-sys-text-link-disabled-color) !important;
  }

  &:visited,
  &[mlv-text~='visited'] {
    color: var(--mlv-sys-text-link-visited-color) !important;
  }
}

[mlv-text~='code'] {
  font-weight: var(--mlv-ref-font-weight-regular) !important;
  color: var(--mlv-sys-text-color) !important;
  margin: 0 !important;
  padding: 0 !important;
}

[mlv-text~='uppercase'] {
  text-transform: uppercase !important;
}

[mlv-text~='lowercase'] {
  text-transform: lowercase !important;
}

[mlv-text~='capitalize'] {
  text-transform: capitalize !important;
}

[mlv-text~='inherit'] {
  color: inherit !important;
}

[mlv-text~='center'] {
  text-align: center !important;
}

[mlv-text~='end'] {
  text-align: end !important;
}

[mlv-text~='truncate'] {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
