html[mlv-theme],
body[mlv-theme],
[mlv-theme~='root'] {
  color-scheme: var(--mlv-sys-color-scheme) !important;
  background: var(--mlv-sys-layer-canvas-background) !important;
  color: var(--mlv-sys-layer-canvas-color) !important;
  font-family: var(--mlv-ref-font-family-inter) !important;
  text-rendering: optimizeSpeed;
}

*:has([mlv-popover]) {
  contain: initial;
}