html[mlv-theme],
body[mlv-theme],
[mlv-theme~='root'] {
  color-scheme: var(--mlv-sys-color-scheme) !important;
  background: var(--mlv-sys-layer-canvas-background) !important;
  color: var(--mlv-sys-layer-canvas-color) !important;
  font-family: var(--mlv-ref-font-family) !important;
  text-rendering: optimizeSpeed;
}

*:has([mlv-popover]) {
  contain: initial;
}

[mlv-theme~='debug'] {
  --mlv-debug-outline-width: 2px;
  --mlv-debug-layout-outline: var(--mlv-debug-outline-width) solid var(--mlv-ref-color-purple-plum-900);
  --mlv-debug-element-outline: var(--mlv-debug-outline-width) solid var(--mlv-ref-color-brand-green-900);
  --mlv-debug-typography-outline: var(--mlv-debug-outline-width) solid var(--mlv-ref-color-yellow-amber-900);
}

[mlv-theme~='debug'][mlv-theme~='dark'] {
  --mlv-debug-outline-width: 1px;
}
