/*
 * Deprecated in 0.9.0
 */
 :root, [mlv-theme~='light'] {
  --mlv-ref-color-red-carmine-900: #68211c;
  --mlv-ref-color-red-carmine-800: #932f28;
  --mlv-ref-color-red-carmine-700: #b43931;
  --mlv-ref-color-red-carmine-600: #d04238;
  --mlv-ref-color-red-carmine-500: #e94a3f;
  --mlv-ref-color-red-carmine-400: #ee847f;
  --mlv-ref-color-red-carmine-300: #f2aba8;
  --mlv-ref-color-red-carmine-200: #f6cbca;
  --mlv-ref-color-red-carmine-100: #fbe6e6;
  --mlv-ref-color-green-blast-900: #07441b;
  --mlv-ref-color-green-blast-800: #0a6027;
  --mlv-ref-color-green-blast-700: #0c762f;
  --mlv-ref-color-green-blast-600: #0e8837;
  --mlv-ref-color-green-blast-500: #10983d;
  --mlv-ref-color-green-blast-400: #73b17e;
  --mlv-ref-color-green-blast-300: #a2c8a8;
  --mlv-ref-color-green-blast-200: #c6dcc9;
  --mlv-ref-color-green-blast-100: #e4eee6;
  --mlv-ref-color-green-symphony-900: #003500;
  --mlv-ref-color-green-symphony-800: #005900;
  --mlv-ref-color-green-symphony-700: #008100;
  --mlv-ref-color-green-symphony-600: #00aa32;
  --mlv-ref-color-green-symphony-500: #11d459;
  --mlv-ref-color-green-symphony-400: #64de7b;
  --mlv-ref-color-green-symphony-300: #92e79c;
  --mlv-ref-color-green-symphony-200: #b8f0bc;
  --mlv-ref-color-green-symphony-100: #dcf8de;
  --mlv-ref-color-blue-denim-900: #04336c;
  --mlv-ref-color-blue-denim-800: #064798;
  --mlv-ref-color-blue-denim-700: #0758bb;
  --mlv-ref-color-blue-denim-600: #0865d8;
  --mlv-ref-color-blue-denim-500: #0971f1;
  --mlv-ref-color-blue-denim-400: #7298f4;
  --mlv-ref-color-blue-denim-300: #a1b7f7;
  --mlv-ref-color-blue-denim-200: #c6d2f9;
  --mlv-ref-color-blue-denim-100: #e4eafc;
  --mlv-ref-color-blue-sea-900: #003154;
  --mlv-ref-color-blue-sea-800: #00557c;
  --mlv-ref-color-blue-sea-700: #007da6;
  --mlv-ref-color-blue-sea-600: #2aa6d1;
  --mlv-ref-color-blue-sea-500: #66d2ff;
  --mlv-ref-color-blue-sea-400: #8edbff;
  --mlv-ref-color-blue-sea-300: #aee4ff;
  --mlv-ref-color-blue-sea-200: #cbedff;
  --mlv-ref-color-blue-sea-100: #e5f6ff;
  --mlv-ref-color-orange-burst-900: #4c1b00;
  --mlv-ref-color-orange-burst-800: #713f00;
  --mlv-ref-color-orange-burst-700: #9e6400;
  --mlv-ref-color-orange-burst-600: #ce8c04;
  --mlv-ref-color-orange-burst-500: #ffb63e;
  --mlv-ref-color-orange-burst-400: #ffc468;
  --mlv-ref-color-orange-burst-300: #ffd38e;
  --mlv-ref-color-orange-burst-200: #ffe1b3;
  --mlv-ref-color-orange-burst-100: #fff0d9;
  --mlv-ref-color-purple-lilac-900: #1c0f6b;
  --mlv-ref-color-purple-lilac-800: #442d8e;
  --mlv-ref-color-purple-lilac-700: #694db2;
  --mlv-ref-color-purple-lilac-600: #8e6ed8;
  --mlv-ref-color-purple-lilac-500: #b491ff;
  --mlv-ref-color-purple-lilac-400: #c5a7ff;
  --mlv-ref-color-purple-lilac-300: #d5bcff;
  --mlv-ref-color-purple-lilac-200: #e3d2ff;
  --mlv-ref-color-purple-lilac-100: #f2e9ff;
  --mlv-ref-color-teal-river-900: #103d40;
  --mlv-ref-color-teal-river-800: #16565a;
  --mlv-ref-color-teal-river-700: #1b696e;
  --mlv-ref-color-teal-river-600: #1f7a7f;
  --mlv-ref-color-teal-river-500: #23888e;
  --mlv-ref-color-teal-river-400: #76a7ab;
  --mlv-ref-color-teal-river-300: #a4c1c3;
  --mlv-ref-color-teal-river-200: #c7d7d9;
  --mlv-ref-color-teal-river-100: #e5eced;
  --mlv-ref-color-gray-stone-900: #0e161f;
  --mlv-ref-color-gray-stone-800: #2e3641;
  --mlv-ref-color-gray-stone-700: #49515d;
  --mlv-ref-color-gray-stone-600: #646c79;
  --mlv-ref-color-gray-stone-500: #9ea4ae;
  --mlv-ref-color-gray-stone-400: #c7cbd1;
  --mlv-ref-color-gray-stone-300: #d8dadf;
  --mlv-ref-color-gray-stone-200: #e9e9ed;
  --mlv-ref-color-gray-stone-150: #e5e7eb;
  --mlv-ref-color-gray-stone-100: #f6f7f9;
  --mlv-ref-color-neutral-900: #000000;
  --mlv-ref-color-neutral-800: #0d0e11;
  --mlv-ref-color-neutral-750: #14151a;
  --mlv-ref-color-neutral-700: #17191f;
  --mlv-ref-color-neutral-600: #23262f;
  --mlv-ref-color-neutral-500: #353945;
  --mlv-ref-color-neutral-400: #777e90;
  --mlv-ref-color-neutral-300: #8c92a1;
  --mlv-ref-color-neutral-200: #afb4be;
  --mlv-ref-color-neutral-150: #d6d9e0;
  --mlv-ref-color-neutral-100: #e6e8ec;
  --mlv-ref-color-neutral-50: #fafafa;
  --mlv-ref-color-gray-zinc-1000: #0b0c0f;
  --mlv-ref-color-gray-zinc-900: #16181d;
  --mlv-ref-color-gray-zinc-800: #21242c;
  --mlv-ref-color-gray-zinc-750: #23262f;
  --mlv-ref-color-gray-zinc-700: #2b303b;
  --mlv-ref-color-gray-zinc-650: #343847;
  --mlv-ref-color-gray-zinc-600: #414858;
  --mlv-ref-color-gray-zinc-500: #626c84;
  --mlv-ref-color-gray-zinc-400: #e2e4e9;
  --mlv-ref-color-gray-zinc-300: #edeff2;
  --mlv-ref-color-gray-zinc-200: #f1f3f5;
  --mlv-ref-color-gray-zinc-100: #f9fafb;
  --mlv-sys-status-neutral-background: var(--mlv-ref-color-gray-stone-500);
  --mlv-sys-status-warning-background: var(--mlv-ref-color-yellow-nova-500);
  --mlv-sys-status-danger-background: var(--mlv-ref-color-red-carmine-500);
  --mlv-sys-status-success-background: var(--mlv-ref-color-green-blast-500);
  --mlv-sys-status-default-background: var(--mlv-ref-color-gray-stone-300);
  --mlv-sys-status-neutral-color: var(--mlv-sys-text-white-color);
  --mlv-sys-status-warning-color: var(--mlv-sys-text-black-color);
  --mlv-sys-status-danger-color: var(--mlv-sys-text-white-color);
  --mlv-sys-status-success-color: var(--mlv-sys-text-white-color);
  --mlv-sys-status-accent-color: var(--mlv-sys-text-white-color);
  --mlv-sys-status-accent-background: var(--mlv-sys-accent-secondary-background);
  --mlv-sys-status-default-color: var(--mlv-sys-text-black-color);
  --mlv-sys-interaction-state-active-alpha: 0.15;
  --mlv-sys-interaction-state-hover-alpha: 0.1;
  --mlv-sys-interaction-state-selected-alpha: 0.09;
  --mlv-sys-interaction-state-default-alpha: 0;
  --mlv-sys-interaction-state-lightness: 0%;
  --mlv-sys-text-default-color: var(--mlv-sys-text-color);
  --mlv-sys-interaction-default-color: var(--mlv-sys-interaction-color);
  --mlv-ref-border-default-color: var(--mlv-ref-border-color);
  --mlv-ref-outline-default: var(--mlv-ref-outline);
  --mlv-ref-shadow-800: 0 18px 88px -4px hsla(222, 52%, 19%, 0.141), 0 8px 28px -6px hsla(222, 52%, 19%, 0.122);
  --mlv-ref-shadow-700: 0 14px 64px -4px hsla(222, 52%, 19%, 0.122), 0 8px 22px -6px hsla(222, 52%, 19%, 0.122);
  --mlv-ref-shadow-600: 0 12px 42px -4px hsla(222, 52%, 19%, 0.122), 0 8px 18px -6px hsla(222, 52%, 19%, 0.122);
}

[mlv-theme~='dark'] {
  --mlv-sys-status-info-background: var(--mlv-ref-color-white);
  --mlv-sys-status-default-background: var(--mlv-ref-color-white);
  --mlv-sys-status-info-color: var(--mlv-sys-text-black-color);
  --mlv-sys-status-default-color: var(--mlv-sys-text-black-color);
}
