html[nve-theme],
body[nve-theme],
[nve-theme~='root'] {
  color-scheme: var(--nve-sys-color-scheme) !important;
  background: var(--nve-sys-layer-canvas-background) !important;
  color: var(--nve-sys-layer-canvas-color) !important;
  font-family: var(--nve-ref-font-family) !important;
  text-rendering: optimizeSpeed;
}

*:has([nve-popover]) {
  contain: initial;
}

[nve-theme~='debug'] {
  --nve-debug-outline-width: 2px;
  --nve-debug-layout-outline: var(--nve-debug-outline-width) solid var(--nve-ref-color-purple-plum-900);
  --nve-debug-element-outline: var(--nve-debug-outline-width) solid var(--nve-ref-color-brand-green-900);
  --nve-debug-typography-outline: var(--nve-debug-outline-width) solid var(--nve-ref-color-yellow-amber-900);
}

[nve-theme~='debug'][nve-theme~='dark'] {
  --nve-debug-outline-width: 1px;
}
