*, *::before, *::after {
  box-sizing: border-box;
}

[mlv-layout] {
  outline: var(--mlv-debug-layout-outline, initial);
  outline-offset: 1px;

  &[mlv-layout~='row'],
  &[mlv-layout~='column'] {
    display: flex;
    margin: 0;
    min-height: 0;
  }

  /* Grow */
  &[mlv-layout~='full'],
  &[mlv-layout~='grow'] {
    height: 100%;
    width: 100%;
  }

  /* Horizontal Layout */
  &[mlv-layout~='row'] {
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;

    &[mlv-layout~='align:left'] {
      justify-content: flex-start;
    }

    &[mlv-layout~='align:right'] {
      justify-content: flex-end;
    }

    &[mlv-layout~='align:top'] {
      align-items: flex-start;
    }

    &[mlv-layout~='align:bottom'] {
      align-items: flex-end;
    }

    &[mlv-layout~='align:horizontal-center'] {
      justify-content: center;
    }

    &[mlv-layout~='align:vertical-center'] {
      align-items: center;
      align-content: center;
    }

    &[mlv-layout*='align:horizontal-stretch'] {
      & > * {
        flex-grow: 1;
      }
    }

    &[mlv-layout*='align:vertical-stretch'] {
      align-items: stretch;
      flex-grow: 1;
    }

    &[mlv-layout~='align:wrap'] {
      flex-wrap: wrap;
    }
  }

  /* Vertical Layout */
  &[mlv-layout~='column'] {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &[mlv-layout~='align:left'] {
      align-items: flex-start;
    }

    &[mlv-layout~='align:right'] {
      align-items: flex-end;
    }

    &[mlv-layout~='align:top'] {
      justify-content: flex-start;
    }

    &[mlv-layout~='align:bottom'] {
      justify-content: flex-end;
    }

    &[mlv-layout~='align:horizontal-center'] {
      align-items: center;
      align-content: center;
    }

    &[mlv-layout~='align:vertical-center'] {
      justify-content: center;
    }

    &[mlv-layout*='align:horizontal-stretch'] {
      align-items: stretch;
    }

    &[mlv-layout*='align:vertical-stretch'] {
      justify-content: stretch;

      & > * {
        flex-grow: 1;
      }
    }
  }

  /* Centered */
  &[mlv-layout~='align:center'] {
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  /* Full Stretch */
  &[mlv-layout*='align:stretch'] {
    align-items: stretch;

    & > * {
      flex-grow: 1;
    }
  }

  /* Spacing */
  &[mlv-layout~='align:space-around'] {
    justify-content: space-around;
    gap: none;
  }

  &[mlv-layout~='align:space-between'] {
    justify-content: space-between;
    gap: none;
  }

  &[mlv-layout~='align:space-evenly'] {
    justify-content: space-evenly;
    gap: none;
  }


  /* Layout Gap Spacing */
  &[mlv-layout~='gap:xxxs'] {
    gap: var(--mlv-ref-space-xxxs);
  }

  &[mlv-layout~='gap:xxs'] {
    gap: var(--mlv-ref-space-xxs);
  }

  &[mlv-layout~='gap:xs'] {
    gap: var(--mlv-ref-space-xs);
  }

  &[mlv-layout~='gap:sm'] {
    gap: var(--mlv-ref-space-sm);
  }

  &[mlv-layout~='gap:md'] {
    gap: var(--mlv-ref-space-md);
  }

  &[mlv-layout~='gap:lg'] {
    gap: var(--mlv-ref-space-lg);
  }

  &[mlv-layout~='gap:xl'] {
    gap: var(--mlv-ref-space-xl);
  }

  &[mlv-layout~='gap:xxl'] {
    gap: var(--mlv-ref-space-xxl);
  }

  &[mlv-layout~='gap:xxxl'] {
    gap: var(--mlv-ref-space-xxxl);
  }


  /* Container Padding Spacing */
  @each $size in xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl {
    &[mlv-layout~='pad:$(size)'] {
      padding: var(--mlv-ref-space-$(size));
    }

    @each $side in top, left, right, bottom {
      &[mlv-layout~='pad-$(side):$(size)'] {
        padding-$(side): var(--mlv-ref-space-$(size));
      }
    }
  }



  /* Grid Layouts */
  &[mlv-layout~='grid'] {
    display: grid;
    align-items: start;
    align-content: start;
    grid-template-columns: repeat(12, 1fr); /* TODO make 12 columns a design token? */
    width: 100%;

    @each $num in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      [mlv-layout~='span:$(num)'],
      &[mlv-layout~='span-items:$(num)'] > * {
        grid-column: span $(num)/span $(num);
      }
    }

    @define-mixin auto-columns {
      grid-auto-flow: column;
      grid-template-columns: initial;
    }

    /* Grid Alignments */
    &[mlv-layout~='align:left'] {
      justify-content: start;
      @mixin auto-columns;
    }

    &[mlv-layout~='align:right'] {
      justify-content: end;
      @mixin auto-columns;
    }

    &[mlv-layout~='align:top'] {
      align-content: start;
    }

    &[mlv-layout~='align:bottom'] {
      align-content: end;
    }

    &[mlv-layout~='align:horizontal-center'] {
      justify-items: center;
      justify-content: center;
      @mixin auto-columns;
    }

    &[mlv-layout~='align:vertical-center'] {
      align-items: center;
      align-content: center;
    }

    &[mlv-layout*='align:horizontal-stretch'] {
      justify-items: stretch;
      justify-content: stretch;
      @mixin auto-columns;
    }

    &[mlv-layout*='align:vertical-stretch'] {
      align-items: stretch;
      align-content: stretch;
    }

    &[mlv-layout*='align:stretch'] {
      align-items: stretch;
      align-content: stretch;
      justify-items: stretch;
      justify-content: stretch;
      @mixin auto-columns;
    }

    &[mlv-layout*='align:center'] {
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: center;
      @mixin auto-columns;
    }
  }
}