/* @experimental do not use in production */

@font-face {
	font-family: 'NVIDIA Sans';
	font-style: normal;
	font-weight: 700;
	src: url('https://brand-assets.cne.ngc.nvidia.com/assets/fonts/nvidia-sans/1.0.0/NVIDIASans_Bd.woff2') format('woff2');
}

@font-face {
	font-family: 'NVIDIA Sans';
	font-style: normal;
	font-weight: 500;
	src: url('https://brand-assets.cne.ngc.nvidia.com/assets/fonts/nvidia-sans/1.0.0/NVIDIASans_Md.woff2') format('woff2');
}

@font-face {
	font-family: 'NVIDIA Sans';
	font-style: normal;
	font-weight: 400;
	src: url('https://brand-assets.cne.ngc.nvidia.com/assets/fonts/nvidia-sans/1.0.0/NVIDIASans_Rg.woff2') format('woff2');
}

@font-face {
	font-family: 'NVIDIA Sans';
	font-style: normal;
	font-weight: 300;
	src: url('https://brand-assets.cne.ngc.nvidia.com/assets/fonts/nvidia-sans/1.0.0/NVIDIASans_Lt.woff2') format('woff2');
}

[mlv-theme~='brand'] {
  --mlv-ref-font-family: 'NVIDIA Sans', serif;
  --mlv-ref-color-gray-slate-1200: hsl(0, 0%, 9%);
  --mlv-ref-color-gray-slate-1100: hsl(0, 0%, 44%);
  --mlv-ref-color-gray-slate-1000: hsl(0, 0%, 52%);
  --mlv-ref-color-gray-slate-900: hsl(0, 0%, 56%);
  --mlv-ref-color-gray-slate-800: hsl(0, 0%, 78%);
  --mlv-ref-color-gray-slate-700: hsl(0, 0%, 86%);
  --mlv-ref-color-gray-slate-600: hsl(0, 0%, 89%);
  --mlv-ref-color-gray-slate-500: hsl(0, 0%, 91%);
  --mlv-ref-color-gray-slate-400: hsl(0, 0%, 93%);
  --mlv-ref-color-gray-slate-300: hsl(0, 0%, 95%);
  --mlv-ref-color-gray-slate-200: hsl(0, 0%, 95%);
  --mlv-ref-color-gray-slate-100: hsl(0, 0%, 99%);
  --mlv-ref-color-gray-denim-1200: hsl(0, 0%, 9%);
  --mlv-ref-color-gray-denime-1100: hsl(0, 0%, 44%);
  --mlv-ref-color-gray-denim-1000: hsl(0, 0%, 52%);
  --mlv-ref-color-gray-denim-900: hsl(0, 0%, 56%);
  --mlv-ref-color-gray-denim-800: hsl(0, 0%, 78%);
  --mlv-ref-color-gray-denim-700: hsl(0, 0%, 86%);
  --mlv-ref-color-gray-denim-600: hsl(0, 0%, 89%);
  --mlv-ref-color-gray-denim-500: hsl(0, 0%, 91%);
  --mlv-ref-color-gray-denim-400: hsl(0, 0%, 93%);
  --mlv-ref-color-gray-denim-300: hsl(0, 0%, 95%);
  --mlv-ref-color-gray-denim-200: hsl(0, 0%, 98%);
  --mlv-ref-color-gray-denim-100: hsl(0, 0%, 99%);
  --mlv-sys-support-accent-color: var(--mlv-ref-color-brand-green-900);
  --mlv-sys-support-success-emphasis-color: var(--mlv-ref-color-brand-green-900);
  --mlv-sys-support-success-muted-color: var(--mlv-ref-color-brand-green-500);
  --mlv-sys-support-success-color: var(--mlv-ref-color-brand-green-900);
  --mlv-sys-interaction-background-300: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-interaction-background-200: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-interaction-background-100: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-interaction-background: var(--mlv-ref-color-gray-slate-500);
  --mlv-sys-interaction-highlighted-muted-background: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-accent-secondary-background: var(--mlv-ref-color-brand-green-900);
  --mlv-ref-border-radius-xl: 6px;
  --mlv-ref-border-radius-lg: 4px;
  --mlv-ref-border-radius-md: 3px;
  --mlv-ref-border-radius-sm: 2px;
  --mlv-ref-border-radius-xs: 0px;
  --mlv-ref-border-radius-none: 0px;
}

[mlv-theme~='brand'][mlv-theme~='dark'] {
  --mlv-ref-color-gray-slate-1200: hsl(0, 0%, 93%);
  --mlv-ref-color-gray-slate-1100: hsl(0, 0%, 82%);
  --mlv-ref-color-gray-slate-1000: hsl(0, 0%, 61%);
  --mlv-ref-color-gray-slate-900: hsl(0, 0%, 44%);
  --mlv-ref-color-gray-slate-800: hsl(0, 0%, 32%);
  --mlv-ref-color-gray-slate-700: hsl(0, 0%, 24%);
  --mlv-ref-color-gray-slate-600: hsl(0, 0%, 21%);
  --mlv-ref-color-gray-slate-500: hsl(0, 0%, 18%);
  --mlv-ref-color-gray-slate-400: hsl(0, 0%, 16%);
  --mlv-ref-color-gray-slate-300: hsl(0, 0%, 13%);
  --mlv-ref-color-gray-slate-200: hsl(0, 0%, 11%);
  --mlv-ref-color-gray-slate-100: hsl(0, 0%, 9%);
  --mlv-ref-color-gray-denim-1200: hsl(0, 0%, 93%);
  --mlv-ref-color-gray-denim-1100: hsl(0, 0%, 63%);
  --mlv-ref-color-gray-denim-1000: hsl(0, 0%, 50%);
  --mlv-ref-color-gray-denim-900: hsl(0, 0%, 44%);
  --mlv-ref-color-gray-denim-800: hsl(0, 0%, 32%);
  --mlv-ref-color-gray-denim-700: hsl(0, 0%, 24%);
  --mlv-ref-color-gray-denim-600: hsl(0, 0%, 21%);
  --mlv-ref-color-gray-denim-500: hsl(0, 0%, 18%);
  --mlv-ref-color-gray-denim-400: hsl(0, 0%, 16%);
  --mlv-ref-color-gray-denim-300: hsl(0, 0%, 14%);
  --mlv-ref-color-gray-denim-200: hsl(0, 0%, 11%);
  --mlv-ref-color-gray-denim-100: hsl(0, 0%, 5%);
  --mlv-ref-border-color-muted: var(--mlv-ref-color-gray-slate-700);
  --mlv-ref-border-color-emphasis: var(--mlv-ref-color-gray-slate-900);
  --mlv-ref-border-color: var(--mlv-ref-color-gray-slate-800);
  --mlv-sys-interaction-background-300: var(--mlv-ref-color-gray-slate-700);
  --mlv-sys-interaction-background-200: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-interaction-background-100: var(--mlv-ref-color-gray-slate-100);
  --mlv-sys-interaction-background: var(--mlv-ref-color-gray-slate-100);
  --mlv-sys-layer-popover-accent-background: var(--mlv-ref-color-gray-slate-1200);
  --mlv-sys-layer-popover-background: var(--mlv-ref-color-gray-slate-1200);
  --mlv-sys-layer-backdrop-background: var(--mlv-ref-color-alpha-black-200);
  --mlv-sys-layer-overlay-accent-background: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-layer-overlay-background: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-layer-container-accent-background: var(--mlv-ref-color-gray-slate-500);
  --mlv-sys-layer-container-background: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-layer-shell-accent-background: var(--mlv-ref-color-gray-slate-100);
  --mlv-sys-layer-shell-background: var(--mlv-ref-color-black);
  --mlv-sys-layer-canvas-accent-background: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-layer-canvas-background: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-text-link-color: var(--mlv-ref-color-gray-slate-1200);
  --mlv-sys-text-placeholder-color: var(--mlv-ref-color-gray-slate-1000);
  --mlv-sys-text-emphasis-color: var(--mlv-ref-color-gray-slate-1200);
  --mlv-sys-text-muted-color: var(--mlv-ref-color-gray-slate-1000);
  --mlv-sys-text-color: var(--mlv-ref-color-gray-slate-1100);
  --mlv-sys-layer-popover-color: var(--mlv-sys-text-black-color);
  --mlv-sys-layer-overlay-color: var(--mlv-sys-text-color);
  --mlv-sys-layer-container-color: var(--mlv-sys-text-color);
  --mlv-sys-layer-shell-color: var(--mlv-sys-text-color);
  --mlv-sys-layer-canvas-color: var(--mlv-sys-text-color);
  --mlv-sys-support-success-emphasis-color: var(--mlv-ref-color-brand-green-1000);
  --mlv-sys-interaction-state-base: var(--mlv-sys-interaction-background);
  --mlv-sys-interaction-selected-background: var(--mlv-sys-interaction-background);
  --mlv-sys-interaction-selected-color: var(--mlv-sys-text-emphasis-color);
  --mlv-sys-interaction-secondary-background: var(--mlv-sys-accent-secondary-background);
  --mlv-sys-interaction-secondary-color: var(--mlv-sys-text-white-color);
  --mlv-sys-interaction-destructive-color: var(--mlv-sys-text-white-color);
  --mlv-sys-interaction-emphasis-background: var(--mlv-sys-accent-primary-background);
  --mlv-sys-interaction-emphasis-color: var(--mlv-sys-text-white-color);
  --mlv-sys-interaction-emphasize-background: var(--mlv-sys-accent-primary-background);
  --mlv-sys-interaction-emphasize-color: var(--mlv-sys-text-white-color);
  --mlv-sys-interaction-field-background-300: var(--mlv-sys-interaction-background-300);
  --mlv-sys-interaction-field-background-200: var(--mlv-sys-interaction-background-200);
  --mlv-sys-interaction-field-background-100: var(--mlv-sys-interaction-background-100);
  --mlv-sys-interaction-field-background: var(--mlv-sys-interaction-background);
  --mlv-sys-interaction-color: var(--mlv-sys-text-color);
  --mlv-sys-interaction-highlighted-muted-background: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-interaction-highlighted-color: var(--mlv-sys-interaction-color);
  --mlv-sys-interaction-field-color: var(--mlv-sys-interaction-color);
  --mlv-sys-interaction-state-ratio-hover: 3%;
  --mlv-sys-interaction-state-ratio-active: 2%;
}
