/* @experimental do not use in production */
[mlv-theme*='branding'],
[mlv-theme*='branding'] [mlv-theme*='light'] {
  --mlv-ref-color-gray-slate-1200: hsl(0, 0%, 9%);
  --mlv-ref-color-gray-slate-1100: hsl(0, 0%, 44%);
  --mlv-ref-color-gray-slate-1000: hsl(0, 0%, 52%);
  --mlv-ref-color-gray-slate-900: hsl(0, 0%, 56%);
  --mlv-ref-color-gray-slate-800: hsl(0, 0%, 78%);
  --mlv-ref-color-gray-slate-700: hsl(0, 0%, 86%);
  --mlv-ref-color-gray-slate-600: hsl(0, 0%, 89%);
  --mlv-ref-color-gray-slate-500: hsl(0, 0%, 91%);
  --mlv-ref-color-gray-slate-400: hsl(0, 0%, 93%);
  --mlv-ref-color-gray-slate-300: hsl(0, 0%, 95%);
  --mlv-ref-color-gray-slate-200: hsl(0, 0%, 98%);
  --mlv-ref-color-gray-slate-100: hsl(0, 0%, 99%);
  --mlv-sys-accent-secondary-background: var(--mlv-ref-color-brand-green-1000);
  --mlv-sys-support-accent-emphasis-color: var(--mlv-ref-color-blue-sky-1100);
  --mlv-sys-support-accent-muted-color: var(--mlv-ref-color-blue-sky-400);
  --mlv-sys-support-accent-color: var(--mlv-ref-color-blue-sky-1100);
  --mlv-sys-support-success-emphasis-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-support-success-muted-color: var(--mlv-ref-color-brand-green-400);
  --mlv-sys-support-success-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-text-link-emphasis-color: var(--mlv-ref-color-brand-green-1000);
  --mlv-sys-support-emphasis-color: var(--mlv-ref-color-gray-slate-1100);
  --mlv-sys-support-muted-color: var(--mlv-ref-color-gray-slate-600);
  --mlv-sys-support-color: var(--mlv-ref-color-gray-slate-1000);
  --mlv-sys-accent-tertiary-background: var(--mlv-ref-color-black);
  --mlv-sys-accent-primary-background: var(--mlv-ref-color-brand-green-900);
  --mlv-sys-text-link-hover-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-status-finished-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-status-starting-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-status-color: var(--mlv-ref-color-gray-slate-1000);
  --mlv-ref-border-radius-xl: 8px;
  --mlv-ref-border-radius-lg: 4px;
  --mlv-ref-border-radius-md: 2px;
  --mlv-ref-border-radius-sm: 2px;
  --mlv-ref-border-radius-xs: 0px;
  --mlv-ref-scale-size: 1.1;
}

[mlv-theme~='branding-dark'],
[mlv-theme~='branding-dark'] [mlv-theme~='dark'],
[mlv-theme~='branding'][mlv-theme~='dark'] [mlv-theme~='dark'] {
  --mlv-sys-color-scheme: dark;
  --mlv-ref-color-gray-slate-1200: hsl(0, 0%, 93%);
  --mlv-ref-color-gray-slate-1100: hsl(0, 0%, 82%);
  --mlv-ref-color-gray-slate-1000: hsl(0, 0%, 61%);
  --mlv-ref-color-gray-slate-900: hsl(0, 0%, 44%);
  --mlv-ref-color-gray-slate-800: hsl(0, 0%, 32%);
  --mlv-ref-color-gray-slate-700: hsl(0, 0%, 24%);
  --mlv-ref-color-gray-slate-600: hsl(0, 0%, 21%);
  --mlv-ref-color-gray-slate-500: hsl(0, 0%, 18%);
  --mlv-ref-color-gray-slate-400: hsl(0, 0%, 16%);
  --mlv-ref-color-gray-slate-300: hsl(0, 0%, 14%);
  --mlv-ref-color-gray-slate-200: hsl(0, 0%, 11%);
  --mlv-ref-color-gray-slate-100: hsl(0, 0%, 9%);
  --mlv-sys-layer-popover-accent-background: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-layer-popover-background: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-layer-popover-color: var(--mlv-sys-text-default-color);
  --mlv-sys-layer-overlay-accent-background: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-layer-overlay-background: var(--mlv-ref-color-gray-slate-400);
  --mlv-sys-layer-container-accent-background: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-layer-container-background: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-layer-shell-accent-background: var(--mlv-ref-color-gray-slate-100);
  --mlv-sys-layer-shell-background: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-layer-canvas-accent-background: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-layer-canvas-background: var(--mlv-ref-color-gray-slate-100);
  --mlv-sys-text-placeholder-color: var(--mlv-ref-color-gray-slate-900);
  --mlv-sys-interaction-background-300: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-interaction-background-200: var(--mlv-ref-color-gray-slate-200);
  --mlv-sys-interaction-background-100: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-interaction-background: var(--mlv-ref-color-gray-slate-300);
  --mlv-sys-interaction-disabled-background: var(--mlv-ref-color-gray-slate-700);
  --mlv-sys-interaction-disabled-color: var(--mlv-ref-color-gray-slate-900);
  --mlv-sys-accent-secondary-background: var(--mlv-ref-color-brand-green-1000);
  --mlv-sys-support-accent-color: var(--mlv-ref-color-blue-sky-700);
  --mlv-sys-support-accent-emphasis-color: var(--mlv-ref-color-blue-sky-900);
  --mlv-sys-support-accent-muted-color: var(--mlv-ref-color-blue-sky-500);
  --mlv-sys-support-success-emphasis-color: var(--mlv-ref-color-brand-green-900);
  --mlv-sys-support-success-muted-color: var(--mlv-ref-color-brand-green-400);
  --mlv-sys-support-success-color: var(--mlv-ref-color-brand-green-800);
  --mlv-sys-text-link-emphasis-color: var(--mlv-ref-color-brand-green-1000);
  --mlv-sys-support-emphasis-color: var(--mlv-ref-color-gray-slate-900);
  --mlv-sys-support-muted-color: var(--mlv-ref-color-gray-slate-600);
  --mlv-sys-support-color: var(--mlv-ref-color-gray-slate-1000);
  --mlv-sys-accent-tertiary-background: var(--mlv-ref-color-black);
  --mlv-sys-accent-primary-background: var(--mlv-ref-color-brand-green-900);
  --mlv-sys-text-link-hover-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-status-finished-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-status-starting-color: var(--mlv-ref-color-brand-green-1100);
  --mlv-sys-status-color: var(--mlv-ref-color-gray-slate-1000);
}
