:host {
  --nve-sys-interaction-default-background: var(--nve-sys-interaction-default-background-300);
  --nve-sys-layer-popover-arrow-padding: 6px;
  --nve-sys-layer-popover-arrow-offset: 4px;
  --nve-sys-layer-popover-offset: 2px;
  --arrow-transform: translate(0, -2px) rotate(-45deg);
  --border: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
  --border-radius: var(--nve-ref-border-radius-md);
  --background: var(--nve-sys-layer-overlay-background);
  --color: var(--nve-sys-layer-overlay-color);
  --padding: var(--nve-ref-size-400);
  --box-shadow: var(--nve-ref-shadow-700);
}

dialog {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  background: var(--background);
  color: var(--color);
  box-shadow: var(--box-shadow);
  gap: var(--nve-ref-space-sm);
}

dialog::backdrop {
  background: transparent;
}

dialog:has(nve-icon-button) {
  padding-right: var(--nve-ref-size-800);
}

nve-icon-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.arrow {
  width: var(--nve-ref-size-400);
  height: var(--nve-ref-size-400);
  background: var(--background);
  transform: var(--arrow-transform);
  border-radius: var(--nve-ref-border-radius-xs);
  position: absolute;
}

:host([position*='top']) {
  --arrow-transform: translate(0, -2px) rotate(-45deg);
}

:host([position*='right']) {
  --arrow-transform: translate(2px, 0) rotate(45deg);
}

:host([position*='bottom']) {
  --arrow-transform: translate(0, 2px) rotate(45deg);
}

:host([position*='left']) {
  --arrow-transform: translate(-2px, 0) rotate(45deg);
}
