/* Applies the all-important container type to the direct parent of any elements using our container query layout utils */
*:has(> [nve-layout*='&']) {
  container-type: inline-size;
}

[nve-layout] {
  &[nve-layout~='hide'] {
    display: none;
  }

  &[nve-layout~='row-reverse'] {
    flex-direction: row-reverse;
    place-items: flex-start;
  }

  &[nve-layout~='column-reverse'] {
    flex-direction: column-reverse;
    place-items: flex-start;
  }

  /* Responsive (Container Query Based) Layout & Padding */
  @each $breakpoint, $breakpoint-value in (xs, sm, md, lg, xl, xxl, xxxl),
    (160px, 320px, 480px, 640px, 800px, 960px, 1200px) {
    @each $space-token in xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl {
      @container (width >= $(breakpoint-value)) {
        &[nve-layout~='&$(breakpoint)|gap:$(space-token)'] {
          gap: var(--nve-ref-space-$(space-token));
        }

        &[nve-layout~='&$(breakpoint)|pad:$(space-token)'] {
          padding: var(--nve-ref-space-$(space-token));
        }
      }
    }
  }

  /* Responsive (Container Query Based) Hiding & Showing of Elements */
  @each $breakpoint, $breakpoint-value in (xs, sm, md, lg, xl, xxl, xxxl),
    (160px, 320px, 480px, 640px, 800px, 960px, 1200px) {
    @container (width >= $(breakpoint-value)) {
      &[nve-layout~='&$(breakpoint)|hide'] {
        display: none;
      }

      &[nve-layout~='&$(breakpoint)|show'] {
        display: initial !important;
      }
    }
  }

  /* Responsive (Container Query Based) Row vs Column */
  @each $breakpoint, $breakpoint-value in (xs, sm, md, lg, xl, xxl, xxxl),
    (160px, 320px, 480px, 640px, 800px, 960px, 1200px) {
    @container (width >= $(breakpoint-value)) {
      &[nve-layout~='&$(breakpoint)|row'] {
        flex-direction: row;
        place-items: flex-start;
      }

      &[nve-layout~='&$(breakpoint)|column'] {
        flex-direction: column;
        align-items: flex-start;
      }

      &[nve-layout~='&$(breakpoint)|row-reverse'] {
        flex-direction: row-reverse;
        place-items: flex-start;
      }

      &[nve-layout~='&$(breakpoint)|column-reverse'] {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }
  }

  /* Responsive Grid Breakpoints */
  &[nve-layout~='grid'] {
    @each $breakpoint, $breakpoint-value in (xs, sm, md, lg, xl, xxl, xxxl),
      (160px, 320px, 480px, 640px, 800px, 960px, 1200px) {
      @each $num in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
        @container (width >= $(breakpoint-value)) {
          & > [nve-layout~='&$(breakpoint)|span:$(num)'],
          &[nve-layout~='&$(breakpoint)|span-items:$(num)'] > * {
            grid-column: span $(num) / span $(num);
          }
        }
      }
    }
  }
}
