
:host {
  --background: color-mix(in oklab, var(--color) var(--mlv-sys-contrast-mute-ratio), var(--mlv-sys-contrast-mute-color));
  --gap: var(--mlv-ref-space-xs);
  --color: var(--mlv-sys-status-color);
  --height: var(--mlv-ref-size-800);
  --width: var(--mlv-ref-size-800);
  --font-size: calc(var(--width) / 2);
  --border-radius: calc(var(--height) * .2);
  --font-weight: var(--mlv-ref-font-weight-bold);
  display: inline-block;
}

@supports not (background: color-mix(in oklab, #000 0%, #fff)) {
  :host([color]) [internal-host] {
    --background: var(--color);
    border: 1px solid transparent;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.8) 0 0) !important;
  }
}

[internal-host] {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  gap: var(--gap);
  color: var(--color);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  place-items: center;
  place-content: center;
  line-height: 0;
}

::slotted([mlv-text]) {
  color: inherit !important;
}

:host([size='sm']) {
  --width: var(--mlv-ref-size-600);
  --height: var(--mlv-ref-size-600);
}

:host([size='lg']) {
  --width: calc(var(--mlv-ref-size-1000) * 1.55);
  --height: calc(var(--mlv-ref-size-1000) * 1.55);
}

:host([color]) [internal-host] {
  background: var(--background);
}
