@import '@nvidia-elements/themes/fonts/inter.css';
@import '@nvidia-elements/themes/index.css';
@import '@nvidia-elements/themes/dark.css';
@import '@nvidia-elements/themes/high-contrast.css';
@import '@nvidia-elements/themes/compact.css';
@import '@nvidia-elements/themes/debug.css';
@import '@nvidia-elements/styles/layout.css';
@import '@nvidia-elements/styles/responsive.css';
@import '@nvidia-elements/styles/typography.css';
@import '@nvidia-elements/styles/view-transitions.css';

*:not(:defined) {
  visibility: hidden;
}

#iframe-links {
  position: fixed;
  inset: auto 1rem 1rem auto;
  z-index: 1000;
}

#story-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-color: var(--nve-ref-border-color-muted) var(--background);
  scrollbar-width: thin;
}

body:has(#iframe-links:not([hidden])) #story-container {
  padding: 24px;
}

body:has(nve-page) #story-container {
  display: contents;
}

[data-element^='layout'] {
  & > [nve-layout] {
    height: 100%;
  }

  nve-card {
    min-width: 60px;
    min-height: 60px;
  }
}
