.stories {
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: var(--nve-ref-space-md);
    padding: 0;
    margin: 0;
  }

  & > li {
    padding-bottom: var(--nve-ref-space-lg);
  }

  a {
    padding: var(--nve-ref-size-200);
  }

  a[selected] {
    background: var(--nve-sys-interaction-selected-background);
  }
}

iframe {
  border: 0;
}
