mlv-filter-chip input::placeholder,
mlv-filter-chip textarea::placeholder {
  color: var(--mlv-sys-text-placeholder-color) !important;
}

mlv-filter-chip input::-webkit-search-cancel-button,
mlv-filter-chip input::-webkit-calendar-picker-indicator {
  opacity: 0 !important;
  display: none !important;
}
