:host {
  --gap: var(--nve-ref-size-50);
  --border-radius: var(--nve-ref-border-radius-sm);
  width: fit-content;
  min-width: fit-content;
  contain: initial;
}

[internal-host] {
  gap: var(--gap);
  border-radius: var(--border-radius);
  background: var(--nve-ref-border-color-muted);
  display: flex;
  overflow: hidden;
}

nve-input,
nve-date,
nve-select,
::slotted(nve-button) {
  --font-weight: var(--nve-ref-font-weight-medium);
  --border-radius: 0;
  --width: fit-content;
}

[internal-host] > :nth-child(2) {
  --font-weight: var(--nve-ref-font-weight-regular);
}

nve-select {
  --padding: 0 var(--nve-ref-size-200);
}

nve-select::part(caret) {
  display: none;
}

nve-icon-button {
  --border-radius: 0;
  --padding: var(--nve-ref-size-300);
}
