:host {
  display: block;
}

header[internal-host] {
  padding: var(--nve-spacing-7) var(--nve-spacing-7) var(--nve-spacing-4);
  border-bottom: 2px solid var(--divider-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ::slotted([slot="title"]) {
    margin: 0;
    font-size: var(--nve-font-size-275);
    line-height: var(--nve-font-size-400);
    font-weight: var(--nve-font-weight-bold);
  }

  ::slotted([slot="subtitle"]) {
    margin: 0;
    color: var(--nve-color-neutral-500);
    font-size: var(--nve-font-size-100);
    line-height: var(--nve-font-size-400);
    font-weight: var(--nve-font-weight-normal);
  }
}