:host {
  --background: var(--mlv-sys-layer-container-background);
  --color: var(--mlv-sys-layer-canvas-color);
  --border-radius: var(--mlv-ref-border-radius-lg);
  --box-shadow: var(--mlv-ref-shadow-100);
  --padding: var(--mlv-ref-size-400) var(--mlv-ref-size-700) var(--mlv-ref-size-700);
}

[internal-host] {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background);
  color: var(--color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  overflow: hidden;
}

main {
  padding: var(--padding);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
