:host {
  --padding: var(--nve-ref-size-700) var(--nve-ref-size-700) var(--nve-ref-size-400);
  --border-bottom: var(--nve-ref-border-width-md) solid var(--nve-ref-border-color-muted);
  --line-height: 1em;
}

header[internal-host] {
  padding: var(--padding);
  border-bottom: var(--border-bottom);
  color: var(--color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ::slotted([slot="title"]) {
    margin: 0;
    font-size: var(--nve-ref-font-size-400);
    font-weight: var(--nve-ref-font-weight-bold);
  }

  ::slotted([slot="subtitle"]) {
    margin: 0;
    font-size: var(--nve-ref-font-size-200);
    font-weight: var(--nve-ref-font-weight-normal);
  }
}
