:host {
  --mlv-sys-interaction-default-background: var(--mlv-sys-interaction-default-background-200);
  --background: var(--mlv-sys-layer-container-background);
  --color: var(--mlv-sys-layer-canvas-color);
  --border-radius: var(--mlv-ref-border-radius-lg);
  --box-shadow: var(--mlv-ref-shadow-100);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--background);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  overflow: hidden;
}

[internal-host] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100%;
}
