:host {
  width: 100%;
  display: block;
}

p {
  --__capsize-offset: -0.1818em;
  font-family: var(--nve-ref-font-family);
  font-weight: var(--nve-ref-font-weight-regular);
  font-size: var(--nve-ref-font-size-200);
  color: var(--nve-sys-text-color);
  margin: 0;
}

p::before {
  content: '';
  display: table;
  margin-bottom: var(--__capsize-offset);
}

p::after {
  content: '';
  display: table;
  margin-top: var(--__capsize-offset);
}
