:host {
  --cursor: pointer;
  --width: var(--nve-ref-size-400);
  --height: var(--nve-ref-size-400);
  --border-width: var(--nve-ref-border-width-md);
  --border-radius: var(--nve-ref-border-radius-xs);
  --border-color: var(--nve-ref-border-color);
  --background: transparent;
  --check-color: transparent;
}

::slotted(input) {
  width: var(--width) !important;
  height: var(--height) !important;
  cursor: var(--cursor) !important;
  margin: 0 !important;
  position: absolute !important;
  opacity: 0 !important;
  inset: 0 !important;
}

[input] {
  align-items: center;
  position: relative;
}

[input] slot {
  width: var(--width);
  height: var(--height);
  border: var(--border-width) solid var(--border-color);
  background: var(--background);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

[input] slot::before {
  content: '';
  width: calc(var(--width) / 1.5);
  height: calc(var(--height) / 1.5);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  margin-left: var(--nve-ref-space-xxxs);
}

:host(:--checked) {
  --nve-sys-interaction-state-lightness: 0%;
  --background: var(--accent-color);
  --check-color: var(--nve-sys-text-white-color);

  & [input] slot {
    border: 0;
  }

  & [input] slot::before {
    background: var(--check-color);
  }
}

:host(:--disabled) {
  --background: var(--nve-sys-interaction-disabled-background);
}

:host(:--checked:--disabled) {
  --background: var(--nve-sys-interaction-disabled-color);
}

:host([nve-control]:focus-within) [input] {
  outline: 0 !important;
}

:host([nve-control]:focus-within) [input] slot {
  outline: Highlight solid 2px !important;
  outline: 5px auto -webkit-focus-ring-color !important;
}
