:host {
  --mlv-sys-interaction-state-base: var(--background);
  --background: var(--mlv-sys-interaction-background);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --padding: var(--mlv-ref-space-xxs);
  --gap: var(--mlv-ref-space-xxxs);
  --width: fit-content;
  width: var(--width);
}

[internal-host] {
  background: var(--background);
  border-radius: var(--border-radius);
  padding: var(--padding);
  gap: var(--gap);
  overflow: hidden;
  display: flex;
  height: 100%;
  align-items: center;
}

::slotted(mlv-button) {
  --height: var(--mlv-ref-size-700);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --font-weight: var(--mlv-ref-font-weight-medium);
}

::slotted(mlv-icon-button) {
  --height: var(--mlv-ref-size-700);
  --border-radius: var(--mlv-ref-border-radius-sm);
}

::slotted(mlv-divider) {
  margin-top: calc(-1 * var(--padding));
  height: calc(100% + var(--padding));
  --color: color-mix(in oklab, var(--mlv-sys-interaction-background) 100%, var(--mlv-sys-interaction-color) 50%);
}

::slotted(mlv-button:hover),
::slotted(mlv-icon-button:hover) {
  --color: var(--mlv-sys-text-emphasis-color);
}

:host([container='flat']) {
  --background: transparent;
}

:host([container='rounded']) {
  --border-radius: var(--mlv-ref-border-radius-lg);
}

:host([container='rounded']:not(:--split)) ::slotted(mlv-button),
:host([container='rounded']:not(:--split)) ::slotted(mlv-icon-button) {
  --border-radius: var(--mlv-ref-border-radius-full);
}

:host([orientation='vertical']) {
  --gap: var(--mlv-ref-space-xs);
}

:host([orientation='vertical']) [internal-host] {
  flex-direction: column;
}

:host([interaction='emphasize']) ::slotted(mlv-divider), /* deprecated */
:host([interaction='emphasis']) ::slotted(mlv-divider) {
  --color: color-mix(
    in oklab,
    var(--mlv-sys-interaction-emphasis-background) 100%,
    var(--mlv-sys-interaction-emphasis-color) 50%
  );
}

:host([interaction='destructive']) ::slotted(mlv-divider) {
  --color: color-mix(
    in oklab,
    var(--mlv-sys-interaction-destructive-background) 100%,
    var(--mlv-sys-interaction-destructive-color) 50%
  );
}

:host(:--split) {
  --padding: 0;
  --gap: 0;
}

:host(:--split) ::slotted(mlv-button) {
  --border-radius: var(--mlv-ref-border-radius-none);
}

:host(:--split) ::slotted(mlv-icon-button) {
  --border-radius: var(--mlv-ref-border-radius-none);
}
