:host {
  --nve-sys-interaction-state-base: var(--background);
  --background: var(--nve-sys-interaction-background);
  --border-radius: var(--nve-ref-border-radius-sm);
  --padding: var(--nve-ref-space-xxs);
  --gap: var(--nve-ref-space-xxxs);
  --width: fit-content;
  width: var(--width);
}

[internal-host] {
  background: var(--background);
  border-radius: var(--border-radius);
  padding: var(--padding);
  gap: var(--gap);
  overflow: hidden;
  display: flex;
  height: 100%;
  align-items: center;
}

::slotted(nve-button),
::slotted(nve-icon-button),
::slotted(nve-button),
::slotted(nve-icon-button) {
  --height: var(--nve-ref-size-700);
  --border-radius: var(--nve-ref-border-radius-sm);
}

::slotted(nve-divider),
::slotted(nve-divider) {
  margin-top: calc(-1 * var(--padding));
  height: calc(100% + var(--padding));
  --color: color-mix(in oklab, var(--nve-sys-interaction-background) 100%, var(--nve-sys-interaction-color) 50%);
}

:host([container='flat']) {
  --background: transparent;
}

:host([container='rounded']) {
  --border-radius: var(--nve-ref-border-radius-full);
}

:host([container='rounded']:not(:state(split))) ::slotted(nve-button),
:host([container='rounded']:not(:state(split))) ::slotted(nve-icon-button),
:host([container='rounded']:not(:state(split))) ::slotted(nve-button),
:host([container='rounded']:not(:state(split))) ::slotted(nve-icon-button) {
  --border-radius: var(--nve-ref-border-radius-full);
}

:host([orientation='vertical']) {
  --gap: var(--nve-ref-space-xs);
}

:host([orientation='vertical']) [internal-host] {
  flex-direction: column;
}

:host([interaction='emphasize']) ::slotted(nve-divider), /* deprecated */
:host([interaction='emphasis']) ::slotted(nve-divider),
:host([interaction='emphasis']) ::slotted(nve-divider) {
  --color: color-mix(
    in oklab,
    var(--nve-sys-interaction-emphasis-background) 100%,
    var(--nve-sys-interaction-emphasis-color) 50%
  );
}

:host([interaction='destructive']) ::slotted(nve-divider),
:host([interaction='destructive']) ::slotted(nve-divider) {
  --color: color-mix(
    in oklab,
    var(--nve-sys-interaction-destructive-background) 100%,
    var(--nve-sys-interaction-destructive-color) 50%
  );
}

:host(:state(split)) {
  --padding: 0;
  --gap: 0;
}

:host(:state(split)) ::slotted(nve-button),
:host(:state(split)) ::slotted(nve-button) {
  --border-radius: var(--nve-ref-border-radius-none);
}

:host(:state(split)) ::slotted(nve-icon-button),
:host(:state(split)) ::slotted(nve-icon-button) {
  --border-radius: var(--nve-ref-border-radius-none);
}
