:host {
  /* Base CSS */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--nve-color-neutral-500);

  /* Variants */
  &([variant='inherit']) {
    color: currentColor;
  }

  &([variant='lighter']) {
    color: var(--nve-color-neutral-300);
  }
}
