:host {
  --background: var(--mlv-sys-support-color);
  --color: var(--mlv-sys-interaction-field-color);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --gap: calc(var(--mlv-ref-space-xxxs) / 2);
  width: fit-content;
  contain: none;
}

[internal-host] {
  border-radius: var(--border-radius);
  overflow: hidden;
  width: max-content;
}

.input-slot {
  background: var(--background);
  border-radius: var(--border-radius);
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gap)
}

slot[name='label'] {
  align-self: center;
}

::slotted(mlv-icon-button) {
  --background: var(--mlv-sys-interaction-field-background);
  --color: var(--mlv-sys-support-emphasis-color);
  --border-radius: 0;
}

::slotted(mlv-select) {
  --padding: 0 var(--mlv-ref-size-200);
  width: fit-content;
}

::slotted([mlv-control]) {
  --border-radius: 0 !important;
}

::slotted([first-control]) {
  --border-radius: var(--mlv-ref-border-radius-sm) 0 0 var(--mlv-ref-border-radius-sm) !important;
}

::slotted([last-control]) {
  --border-radius: 0 var(--mlv-ref-border-radius-sm) var(--mlv-ref-border-radius-sm) 0 !important;
}