:host {
  --padding: 0 var(--mlv-ref-size-200);
  --font-size: var(--mlv-ref-font-size-200);
  --height: var(--mlv-ref-size-800);
  --background: var(--mlv-sys-interaction-field-background);
  --color: var(--mlv-sys-interaction-field-color);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --border: var(--mlv-ref-border-width-md) solid transparent;
  --cursor: text;
  --_icon-height: var(--height);
  --width: 100%;
  width: var(--width);
}

[input] {
  height: var(--height);
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: var(--cursor);
  width: var(--width);
  display: flex;
  align-content: stretch;
}

::slotted(input) {
  /* https://web.dev/accent-color/#guaranteeing-contrast */
  accent-color: var(--accent-color) !important;
  cursor: var(--cursor) !important;
  padding: var(--padding) !important;
  font-size: var(--font-size) !important;
  color: var(--color) !important;
  line-height: var(--height) !important;
  border: 0 !important;
  background: none !important;
  display: block !important;
  width: 100% !important;
}

mlv-icon-button,
::slotted(mlv-icon-button) {
  --height: var(--_icon-height);
  align-self: center;
}

::slotted(mlv-button) {
  --padding: 0 var(--mlv-ref-size-200);
  --color: var(--label-color);
  --height: 100%;
}

:host([rounded]) {
  --border-radius: var(--mlv-ref-border-radius-full);
}

:host(:--invalid),
:host(:--error) {
  --border: var(--mlv-ref-border-width-md) solid var(--mlv-sys-support-danger-emphasis-color);
}

:host(:--success) {
  --border: var(--mlv-ref-border-width-md) solid var(--mlv-sys-support-success-emphasis-color);
}

:host(:--disabled) {
  --border: var(--mlv-ref-border-width-md) solid transparent;
}