:host {
  --padding: 0 var(--mlv-ref-size-200);
  --font-size: var(--mlv-ref-font-size-200);
  --height: var(--mlv-ref-font-size-700);
  --background: var(--mlv-sys-interaction-default-background);
  --color: var(--mlv-sys-interaction-default-color);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --border: var(--mlv-ref-border-width-md) solid transparent;
  --cursor: text;
  width: 100%;
}

[input] {
  height: var(--height);
  background: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color);
  cursor: var(--cursor);
  display: flex;
  align-content: stretch;
  width: 100%;
}

::slotted(input) {
  /* https://web.dev/accent-color/#guaranteeing-contrast */
  accent-color: var(--accent-color) !important;
  cursor: var(--cursor) !important;
  padding: var(--padding) !important;
  font-size: var(--font-size) !important;
  color: var(--color) !important;
  width: 100% !important;
  border: 0 !important;
  background: none !important;
  display: block !important;
}

mlv-icon-button,
::slotted(mlv-icon-button) {
  align-self: center;
}

::slotted(mlv-button) {
  --padding: 0 var(--mlv-ref-size-200);
  --color: var(--label-color);
  --height: 100%;
}

:host([rounded]) {
  --border-radius: var(--mlv-ref-border-radius-full);
}

:host(:--invalid),
:host(:--error) {
  --border: var(--mlv-ref-border-width-md) solid var(--mlv-sys-status-danger-background);
}

:host(:--success) {
  --border: var(--mlv-ref-border-width-md) solid var(--mlv-sys-status-success-background);
}

:host(:--disabled) {
  --border: var(--mlv-ref-border-width-md) solid transparent;
}