[internal-host] {
  display: flex;
  flex-direction: column;
  gap: var(--nve-ref-space-md);
  padding-block: var(--nve-ref-size-400);
}

nve-preferences-input {
  width: 100%;
}

nve-select {
  --size: initial !important;
}
