:host {
  --padding: var(--mlv-ref-size-200);
  --font-size: var(--mlv-ref-font-size-300);
  --height: var(--mlv-ref-font-size-700);
  --background: var(--mlv-sys-interaction-default-background);
  --border-radius: var(--mlv-ref-border-radius-sm);
  --border: 0;
  width: 100%;
}

::slotted(textarea) {
  padding: var(--padding) !important;
  height: var(--height) !important;
  font-size: var(--font-size) !important;
  margin: 0 !important;
  align-content: stretch !important;
  width: 100% !important;
  background: var(--background) !important;
  border: var(--border) !important;
  color: var(--color) !important;
  border-radius: var(--border-radius) !important;
  cursor: var(--cursor) !important;
  min-height: 100px;
}

:host([layout='horizontal']) ::slotted(label) {
  padding-top: var(--mlv-ref-size-100) !important;
  align-self: start !important;
}

:host(:--invalid),
:host(:--error) {
  --border: var(--mlv-ref-border-width-md) solid var(--mlv-sys-status-danger-background);
}

:host(:--success) {
  --border: var(--mlv-ref-border-width-md) solid var(--mlv-sys-status-success-background);
}

:host(:--disabled) {
  --border: var(--mlv-ref-border-width-md) solid transparent;
}
