
:host {
  --gap: var(--mlv-ref-space-xs);
  --font-size: var(--mlv-ref-font-size-50);
  --background: var(--status-color);
  --color: var(--mlv-sys-text-white-color);
  --border-radius: var(--mlv-ref-border-radius-full);
  --height: var(--mlv-ref-size-300);
  --width: var(--mlv-ref-size-300);
  width: auto;
}

[internal-host] {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  gap: var(--gap);
  background: var(--background);
  color: var(--color);
  border-radius: var(--border-radius);
  height: var(--height);
  width: var(--width);
  display: flex;
  align-items: center;
  line-height: 1em;
  place-items: center;
  place-content: center;
}

:host(:--has-text) {
  --height: var(--mlv-ref-size-400);
  --width: var(--mlv-ref-size-400);
}

::slotted([mlv-text]) {
  color: inherit !important;
}

:host([status='warning']) {
  --color: var(--mlv-sys-text-black-color);
}
