#sidenav-panel {
  nve-tree > nve-tree-node:not(:has(> a)),
  nve-tree > nve-tree-node:has(> a) {
    --color: var(--nve-sys-text-muted-color);
    --font-size: 11px;
    --border-radius: var(--nve-ref-border-radius-xs);
    font-weight: var(--nve-ref-font-weight-regular);
    margin-bottom: var(--nve-ref-space-sm);
    text-transform: uppercase;
    letter-spacing: 1.76px;
    cursor: pointer;
  }

  nve-tree-node > nve-tree-node {
    margin-top: var(--nve-ref-space-xxxs);
  }

  nvd-search {
    display: block;
    min-height: 32px;
    margin-bottom: var(--nve-ref-space-sm);
  }
}

/* Navigation Tree Styles */
#docs-nav nve-tree-node:not([expanded]) > a {
  &::after {
    inset: 0 0 0 -24px !important;
  }
}

/* Support Button Styles */
.support-button-link {
  text-decoration: none;
}

.support-button-link nve-card {
  --border-radius: var(--nve-ref-border-radius-md);
}

.support-button-link .support-button-icon {
  width: var(--nve-ref-size-1000);
  height: var(--nve-ref-size-1000);
  background: var(--nve-sys-layer-container-accent-background);
}

.support-button-link img {
  width: var(--nve-ref-size-500);
  height: var(--nve-ref-size-500);
}

.support-button-link,
.support-button-link nve-card,
.support-button-link .support-button-icon,
.support-button-link nve-icon,
.support-button-link span[nve-text],
.support-button-link img {
  cursor: pointer;
}

/* Tab Styles */
nve-tabs#doc-tabs {
  padding: var(--nve-ref-space-sm) 0 0;
  border-bottom: 1px solid var(--nve-ref-border-color);

  nve-tabs-item {
    --font-size: var(--nve-ref-font-size-300);
  }
}

/* Heading Styles */
h2[nve-text*='mkd'] {
  border-bottom: 1px solid var(--nve-ref-border-color);
}

/* Heading Anchor Links */
.heading-anchor {
  position: absolute;
  left: calc(-1 * var(--nve-ref-space-lg));
  text-decoration: none;
  cursor: none;
}

.heading-anchor > nve-icon-button {
  opacity: 0;
  transition: opacity 0.15s 0.3s; /* add slight delay to the initial fade in */
}

h2[nve-text*='mkd']:hover .heading-anchor > nve-icon-button,
h3[nve-text*='mkd']:hover .heading-anchor > nve-icon-button {
  opacity: 1;
}

h2[nve-text*='mkd']:first-of-type {
  padding-top: var(--nve-ref-space-xxl);
}

h2[nve-text*='mkd'],
h3[nve-text*='mkd'] {
  position: relative;
  padding-top: var(--nve-ref-space-xl);
  display: flex;
  align-items: center;
  gap: var(--nve-ref-space-sm);
}

h3[nve-text*='mkd'] {
  padding-top: var(--nve-ref-space-md);
}

/* Link and List Styles */
[nve-text='link mkd']:visited {
  color: inherit !important;
}

[nve-text='list mkd'] [nve-text='body relaxed mkd'] {
  display: inline !important;
}

/* Code Block Styles */
/* Temporary fix for code_inline tag renderer in paragraphs, applies nve-text="code" styles */
p[nve-text] > code {
  background: var(--nve-sys-interaction-field-background) !important;
  border-radius: var(--nve-ref-border-radius-xs) !important;
  font-family: monospace !important;
  padding: 0 var(--nve-ref-size-50);
}

p[nve-text~='mkd']:has(*:not(code):not(a):not(pre)) {
  text-box: initial !important;
}

code:has(nve-codeblock) {
  display: contents;
}

pre {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

code > nve-codeblock {
  --padding: var(--nve-ref-space-lg);
  min-height: 65px;
  width: 100%;
}

pre:has(nve-codeblock),
code:has(nve-codeblock) {
  display: contents;
}

/* Canvas Styles */
nvd-canvas {
  min-height: 120px;
}

nvd-canvas:has(iframe[src*='@nvidia-elements/core/page']) {
  --padding: var(--nve-ref-space-xs);
}

[nve-layer='container'] nvd-canvas {
  --nve-sys-interaction-background: var(--nve-sys-interaction-background-200);
  --nve-sys-interaction-field-background: var(--nve-sys-interaction-field-background-200);
  --background: var(--nve-sys-layer-container-background);
}

/* Page Panel Styles */
nve-page-panel[slot='left'] {
  --width: 250px;

  nve-page-panel-content {
    --padding: var(--nve-ref-size-600) var(--nve-ref-size-400) var(--nve-ref-size-300) var(--nve-ref-size-400);
  }
}

/* Main Content Styles */
#docs-main {
  padding: var(--nve-ref-space-xl);
  display: flex;
  flex-direction: column;
  align-items: center;

  #doc-content {
    max-width: 1100px;
    width: 100%;
  }
}

#docs-main:has([docs-full-width]) {
  padding: var(--nve-ref-space-lg) var(--nve-ref-space-md);

  #doc-content {
    max-width: 100%;
  }
}

/* Dark Theme Background Styles */
[nve-theme~='dark'] main:has(#getting-started-img) {
  background-image: url(/static/images/test-image-2.webp) !important;
  object-fit: fill !important;
  background-repeat: no-repeat !important;
  background-position: 0 15vh !important;
  box-shadow: inset 0 0 0 1000px rgb(11 12 15 / 88%) !important; /* eslint-disable-line @nvidia-elements/lint/no-unexpected-css-value */
  filter: drop-shadow(0 50px 50px rgb(11 12 15 / 95%));
}

#docs-main:has(#anchor-generator) {
  --anchor-generator-width: 260px;
}

/* Right Side Anchor Generator Styles */
#anchor-generator {
  list-style: none !important;
  position: fixed;
  top: calc(anchor(--page-anchor top) + 125px);
  left: calc(anchor(--doc-content-anchor right) + 40px);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  display: none;
  width: var(--anchor-generator-width);

  a {
    text-wrap: nowrap !important;
    min-width: 150px;
    min-height: 14px;
    display: block;
  }
}

/* Adjusts layout and anchor generator display for large screens (min-width: 1440px and 1700px), 
depending on the presence and visibility of the anchor generator and system options panel. */
@media (min-width: 1440px) {
  #anchor-generator {
    display: block;
  }

  #docs-main:has(#anchor-generator) {
    #doc-content {
      width: calc(100% - var(--anchor-generator-width));
    }
  }
}

@media (min-width: 1700px) {
  #docs-main {
    padding: calc(var(--nve-ref-space-xl) * 2);
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  #docs-main:has(#anchor-generator) {
    align-items: start;
  }
}

#doc-content table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  font-size: var(--nve-ref-font-size-100);

  th {
    text-align: start;
    font-weight: var(--nve-ref-font-weight-semibold);
    padding: var(--nve-ref-size-300) var(--nve-ref-size-200);
    text-wrap: nowrap;
  }

  td {
    text-align: start;
    border-top: 1px solid var(--nve-ref-border-color);
    padding: var(--nve-ref-size-300) var(--nve-ref-size-200);
  }
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--nve-ref-border-color);
}

.api-shortcode,
.example-shortcode {
  width: 100%;
}

.api-shortcode + .example-shortcode .example-shortcode-summary,
.story-example:has(.api-description) .example-shortcode-summary,
.split-shortcode:has(.example-shortcode + .api-shortcode) .example-shortcode-summary,
.split-shortcode:has(.example-shortcode + nve-grid) .example-shortcode-summary {
  display: none;
}
