@import '@elements/elements/index.css';
/* @import '@elements/elements/inter.css'; */

body {
  margin: 0;
}

main {
  max-width: 1024px;
  margin: 0 auto !important;
}

*:not(:defined),
*:not(:defined) > * {
	visibility: hidden;
}
