:host {
  --scroll-height: 25vh;
  --_input-background: var(--nve-sys-interaction-field-background);
  contain: initial;
}

[name='caret'] {
  right: var(--nve-ref-size-300);
  align-self: center;
  pointer-events: none;
  position: absolute;
}

[internal-host]:has(nve-menu:focus-within) [input] {
  outline: 0 !important;
}

:host(:--selected) {
  --font-weight: var(--nve-ref-font-weight-semibold);
}

:host(:--multiple) {
  --padding: 0 var(--nve-ref-size-100);
}

:host(:--multiple) [input] {
  padding: var(--padding);
}

.tags {
  width: fit-content;
  display: flex;
  gap: var(--nve-ref-size-100);
  align-items: center;
}

.tags-label {
  padding: 0 var(--nve-ref-size-200);
  font-size: var(--font-size);
  cursor: var(--cursor);
  font-weight: var(--font-weight);
  text-wrap: nowrap;
  display: none;
  align-items: center;
  pointer-events: none;
}

:host(:--multiple-overflow) .tags {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

:host(:--multiple-overflow) .tags-label {
  display: flex;
}

nve-tag {
  --background: color-mix(in oklab, var(--color) 15%, var(--nve-sys-interaction-field-background));
  --padding: var(--nve-ref-size-100) var(--nve-ref-size-200);
  --cursor: pointer !important;
}

::slotted(select) {
  display: none !important;
}

:host(:--invalid),
:host(:--error) {
  --border: var(--nve-ref-border-width-md) solid var(--nve-sys-support-danger-emphasis-color);
}

:host(:--success) {
  --border: var(--nve-ref-border-width-md) solid var(--nve-sys-support-success-emphasis-color);
}

:host(:--disabled) {
  --border: var(--nve-ref-border-width-md) solid transparent;
}

[name='prefix-icon'] {
  display: contents;
}

nve-dropdown {
  --padding: var(--nve-ref-size-200);
}

nve-menu {
  contain: content;
  --max-height: var(--scroll-height);
}

nve-menu-item {
  --text-transform: initial;
  contain: content;
  content-visibility: auto;
}

nve-menu-item nve-icon {
  --color: inherit;
}

nve-menu-item:not(:--selected) nve-icon[name='check'] {
  opacity: 0;
}

slot:not([name]),
slot[name*='option-'] {
  display: contents;
}

[matches] {
  font-weight: var(--nve-ref-font-weight-medium);
  color: var(--nve-sys-text-emphasis-color);
}
