html[nve-theme],
body[nve-theme],
[nve-theme~='root'] {
  color-scheme: var(--nve-sys-color-scheme) !important;
  background: var(--nve-sys-layer-canvas-background) !important;
  color: var(--nve-sys-layer-canvas-color) !important;
  font-family: var(--nve-ref-font-family-inter) !important;
  text-rendering: optimizeSpeed;
}
