*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--mlv-font-sans);
  --background-color: var(--mlv-color-neutral-50);
  --text-color: var(--mlv-color-neutral-900);
  --shadow: var(--mlv-shadow-md);
  -webkit-font-smoothing: antialiased;
  --mlv-system-color-interactive-neutral: var(--mlv-color-neutral-250);
  --mlv-system-color-interactive-neutral-hover: var(--mlv-color-neutral-700);
}

body.dark {
  --background-color: var(--mlv-color-neutral-900);
  --text-color: var(--mlv-color-neutral-50);
  --shadow: none;
  --mlv-system-color-interactive-neutral: var(--mlv-color-neutral-700);
  --mlv-system-color-interactive-neutral-hover: var(--mlv-color-neutral-250);
}
