:root {
  --nve-system-color-interactive-primary: #68B026;
  --nve-system-color-interactive-primary-hover: #549C12;
  --nve-system-color-interactive-destructive: #FE5252;
  --nve-system-color-interactive-destructive-hover: #d93535;
  --nve-system-color-interactive-secondary: #0971F1;
  --nve-system-color-interactive-on-dark: #FFFFFF;
  --nve-system-color-interactive-on-light: #17181B;
  --nve-system-color-interactive-selected: #0971F166;
  --nve-system-color-interactive-focused: #E6E6E6;
  --nve-system-color-interactive-disabled: var(--nve-color-neutral-500);
  --nve-system-color-interactive-on-disabled: var(--nve-color-neutral-250);

  --nve-system-color-hover-on-dark-0: #16161A;
  --nve-system-color-hover-on-dark-1: #1E2024;
  --nve-system-color-hover-on-dark-2: #282B36;
  --nve-system-color-hover-on-dark-3: #3B3F4D;
  --nve-system-color-hover-on-light-1: #F0F3F5;

  --nve-system-color-link-on-dark-hover: #0971F1;
  --nve-system-color-link-on-light-hover: #0971F1;

  --nve-system-status-dark-positive: #58BD7D;
  --nve-system-status-dark-warning: #FFC700;
  --nve-system-status-dark-negative: #FE5252;
  --nve-system-status-dark-info: #FFFFFF;
  --nve-system-status-light-positive: #10983D;
  --nve-system-status-light-warning: #FFC700;
  --nve-system-status-light-negative: #E94A3F;
  --nve-system-status-light-info: #17181B;

  --nve-color-neutral-50: #f6f6fc;
  --nve-color-neutral-100: #f2f3f7;
  --nve-color-neutral-200: #e6e8ec;
  --nve-color-neutral-250: #d6d9e0;
  --nve-color-neutral-300: #b1b5c4;
  --nve-color-neutral-500: #777e91;
  --nve-color-neutral-600: #353945;
  --nve-color-neutral-700: #23262f;
  --nve-color-neutral-900: #17181b;
  --nve-color-neutral-950: #0f0f11;
  --nve-color-neutral-1000: #000000;

  --nve-font-sans: 'Inter var', 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
  --nve-font-mono: 'Lucida Console', Monaco, monospace, sans-serif;

  --nve-font-size-25: 11px;
  --nve-font-size-50: 12px;
  --nve-font-size-75: 13px;
  --nve-font-size-100: 14px;
  --nve-font-size-200: 16px;
  --nve-font-size-275: 19px;
  --nve-font-size-300: 20px;
  --nve-font-size-400: 24px;
  --nve-font-size-600: 28px;
  --nve-font-size-700: 32px;
  --nve-font-size-800: 36px;
  --nve-font-size-900: 40px;

  --nve-font-weight-thin: 100;
  --nve-font-weight-extra-light: 200;
  --nve-font-weight-light: 300;
  --nve-font-weight-normal: 400;
  --nve-font-weight-medium: 500;
  --nve-font-weight-semi-bold: 600;
  --nve-font-weight-bold: 700;
  --nve-font-weight-extra-bold: 800;
  --nve-font-weight-black: 900;

  --nve-radius-xs: 4px;
  --nve-radius-sm: 6px;
  --nve-radius-md: 8px;
  --nve-radius-lg: 16px;
  --nve-radius-xl: 24px;
  --nve-radius-full: 1e5px;

  --nve-spacing-half: 2px;
  --nve-spacing-1: 4px;
  --nve-spacing-1-half: 6px;
  --nve-spacing-2: 8px;
  --nve-spacing-3: 12px;
  --nve-spacing-4: 16px;
  --nve-spacing-5: 20px;
  --nve-spacing-6: 24px;
  --nve-spacing-7: 28px;
  --nve-spacing-8: 32px;
  --nve-spacing-9: 36px;
  --nve-spacing-10: 40px;

  --nve-stroke-size-sm: 1px;
  --nve-stroke-size-md: 2px;
  --nve-stroke-size-lg: 4px;
  --nve-stroke-size-xl: 8px;

  --nve-shadow-sm: 0.25px 1.5px 6px rgba(0, 0, 0, 0.1),
    0px 16px 16px -6px rgba(15, 15, 15, 0.11);
  --nve-shadow-md: 0.5px 3px 12px rgba(0, 0, 0, 0.1),
    0px 32px 32px -12px rgba(15, 15, 15, 0.12);
  --nve-shadow-lg: 0.75px 4.5px 18px rgba(0, 0, 0, 0.1),
    0px 48px 48px -18px rgba(15, 15, 15, 0.13);
  --nve-shadow-xl: 1px 6px 24px rgba(0, 0, 0, 0.1),
    0px 64px 64px -24px rgba(15, 15, 15, 0.14);
}