:host {
  --color: var(--nve-sys-interaction-neutral-color);
  --background: var(--nve-sys-interaction-neutral-background);
  --padding: 0 var(--nve-ref-size-300);
  --border-radius: var(--nve-ref-border-radius-lg);
  --font-weight: var(--nve-ref-font-weight-semibold);
  --font-size: var(--nve-ref-font-size-200);
  --text-decoration: none;
  --cursor: pointer;
  --gap: var(--nve-ref-space-xxs);
  --height: var(--nve-ref-size-800);
  --_icon-color: var(--color);
  --width: fit-content;
  display: inline-flex;
  position: relative;
  outline: 0;
  width: fit-content;
}

[internal-host] {
  color: var(--color);
  background: var(--background);
  padding: var(--padding);
  height: var(--height);
  width: var(--width);
  border-radius: var(--border-radius);
  text-decoration: var(--text-decoration);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  cursor: var(--cursor);
  gap: var(--gap);
  display: inline-flex;
  place-items: center;
  appearance: none;
  line-height: 1.2em;
}

::slotted(nve-icon) {
  --color: var(--_icon-color);
  pointer-events: none;
}

::slotted(a) {
  text-decoration: none !important;
  color: var(--color) !important;
  outline: 0;
}

::slotted(a)::after {
  display: block;
  content: ' ';
  inset: 0;
  position: absolute;
}

:host(:focus-within) [internal-host] {
  outline: var(--nve-ref-outline-webkit);
  outline: var(--nve-ref-outline-default);
}

:host(:hover) {
  --color: var(--nve-sys-interaction-neutral-hover-color);
  --background: var(--nve-sys-interaction-neutral-hover-background);
}

:host(:--active) {
  --color: var(--nve-sys-interaction-neutral-active-color);
  --background: var(--nve-sys-interaction-neutral-active-background);
}

:host(:--disabled) {
  --color: var(--nve-sys-interaction-neutral-disabled-color);
  --background: var(--nve-sys-interaction-neutral-disabled-background);
  --cursor: not-allowed;
}

:host([readonly]) {
  --cursor: cursor !important;
  --text-decoration: none !important;
}

:host([interaction='emphasize']) {
  --color: var(--nve-sys-interaction-emphasize-color);
  --background: var(--nve-sys-interaction-emphasize-background);

  &:host(:hover) {
    --color: var(--nve-sys-interaction-emphasize-hover-color);
    --background: var(--nve-sys-interaction-emphasize-hover-background);
  }

  &:host(:--active) {
    --color: var(--nve-sys-interaction-emphasize-active-color);
    --background: var(--nve-sys-interaction-emphasize-active-background);
  }

  &:host(:--disabled) {
    --color: var(--nve-sys-interaction-neutral-disabled-color);
    --background: var(--nve-sys-interaction-neutral-disabled-background);
  }
}

:host([interaction='destructive']) {
  --color: var(--nve-sys-interaction-destructive-color);
  --background: var(--nve-sys-interaction-destructive-background);

  &:host(:hover) {
    --color: var(--nve-sys-interaction-destructive-hover-color);
    --background: var(--nve-sys-interaction-destructive-hover-background);
  }

  &:host(:--active) {
    --color: var(--nve-sys-interaction-destructive-active-color);
    --background: var(--nve-sys-interaction-destructive-active-background);
  }

  &:host(:--disabled) {
    --color: var(--nve-sys-interaction-neutral-disabled-color);
    --background: var(--nve-sys-interaction-neutral-disabled-background);
  }
}

:host([interaction='ghost']) {
  --background: transparent;

  &:host(:hover) {
    --background: transparent;
    --text-decoration: underline;
  }

  &:host(:--active) {
    --background: transparent;
    --text-decoration: underline;
  }

  &:host(:--disabled) {
    --color: var(--nve-sys-interaction-neutral-disabled-color);
    --background: transparent;
  }
}

:host([readonly][interaction='ghost']) {
  --color: var(--nve-sys-text-muted-color);
}
