button {
  /* Base CSS */
  display: inline-flex;
  align-items: center;
  appearance: none;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: var(--nve-system-color-interactive-primary);
  border-radius: var(--nve-radius-full);
  color: var(--nve-color-neutral-50);
  font-size: var(--nve-font-size-75);
  font-weight: var(--nve-font-weight-semi-bold);
  font-family: var(--nve-font-sans);
  gap: var(--nve-spacing-1);
  padding: var(--nve-spacing-1) var(--nve-spacing-3);
  line-height: var(--nve-font-size-200);
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: var(--nve-system-color-interactive-primary-hover);
  }


  /* Variants */
  @define-mixin buttonBackground $variant {
    :host([variant="$(variant)"]) & {
      background-color: var(--nve-system-color-interactive-$(variant));

      &:hover {
        background-color: var(--nve-system-color-interactive-$(variant)-hover);
      }
    }
  }

  @mixin buttonBackground primary {}
  @mixin buttonBackground destructive {}

  /* TODO can we use @mixin-content to support this variant? */

  :host([variant="secondary"]) & {
    color: var(--nve-system-color-interactive-neutral-hover);
    background-color: var(--nve-system-color-interactive-neutral);

    &:hover {
      color: var(--nve-system-color-interactive-neutral);
      background-color: var(--nve-system-color-interactive-neutral-hover);
    }
  }

  :host([variant="tertiary"]) & {
    color: var(--nve-system-color-interactive-neutral-hover);
    background-color: transparent;

    &:hover {
      color: var(--nve-system-color-interactive-neutral);
      background-color: var(--nve-system-color-interactive-neutral-hover);
      opacity: 0.5;
    }
  }


  /* States */
  &:focus-visible {
    border-color: var(--nve-system-color-interactive-secondary);
  }

  &:active {
    filter: contrast(1.25) brightness(1.1);
  }

  &:disabled {
    background-color: var(--nve-system-color-interactive-disabled);
    color: var(--nve-system-color-interactive-on-disabled);
    opacity: 40%;
    cursor: not-allowed;
  }


  /* Options */
  :host([iconplacement="leading"]) & {
    flex-direction: row-reverse;
  }

  &[icon-only] {
    border-radius: var(--nve-radius-full);
    font-size: var(--nve-font-size-300);
    padding: var(--nve-spacing-half);
  }
}
