:host {
  --nve-sys-layer-popover-offset: var(--nve-ref-space-xl);
  --border-radius: var(--nve-ref-border-radius-md);
  --status-color: var(--nve-sys-support-color);
  --background: var(--nve-sys-layer-popover-background);
  --color: var(--nve-sys-layer-popover-color);
  --padding: var(--nve-ref-size-500) var(--nve-ref-size-900);
  --box-shadow: var(--nve-ref-shadow-400);
  --min-width: 320px;
  --width: fit-content;
  --max-width: fit-content;
  --border: 0;
  width: var(--width);
  position: inherit;
  display: block;
}

:host([position]) {
  position: fixed;
}

.popover {
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  border-radius: var(--border-radius);
  background: var(--background);
  color: var(--color);
  gap: var(--nve-ref-space-sm);
  border: var(--border);
  border-left: 6px solid var(--status-color);
  min-width: var(--min-width);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  position: relative;
}

.popover:has(nve-icon-button) {
  padding-right: var(--nve-ref-size-1000);
}

nve-icon-button {
  --color: inherit;
  position: absolute;
  top: 6px;
  right: 6px;
}

[part='status-icon'] {
  position: absolute;
  top: 16px;
  left: 12px;
  --color: var(--status-color);
}

::slotted([nve-text]) {
  color: inherit !important;
}

:host([container='flat']) {
  --max-width: 100%;
  --width: 100%;
  --border-radius: 0;
  --box-shadow: none;
  --border: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
  --background: var(--nve-sys-layer-overlay-accent-background);
  --color: var(--nve-sys-layer-overlay-color);
}

:host([container='flat']) .popover {
  border-bottom: var(--border);
}

:host([status='accent']) {
  --status-color: var(--nve-sys-support-accent-color);
}

:host([status='success']) {
  --status-color: var(--nve-sys-support-success-color);
}

:host([status='warning']) {
  --status-color: var(--nve-sys-support-warning-color);
  --status-color: color-mix(in oklab, var(--nve-sys-support-warning-color) 90%, var(--nve-sys-contrast-mute-color));
}

:host([status='danger']) {
  --status-color: var(--nve-sys-support-danger-color);
}