:host {
  --nve-sys-layer-popover-offset: var(--nve-ref-space-xxl);
  --box-shadow: var(--nve-ref-shadow-200);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

[internal-host] {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--nve-ref-space-sm);
}