:host {
  --mlv-sys-interaction-default-background: var(--mlv-sys-interaction-default-background-200);
  --background: var(--mlv-sys-layer-container-background);
  --color: var(--mlv-sys-layer-canvas-color);
  --box-shadow: var(--mlv-ref-shadow-300);
  box-shadow: var(--box-shadow);
  background: var(--background);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  overflow: hidden;
  -webkit-transition: width 240ms ease;
  -webkit-transition: height 240ms ease;
}

:host(:not([closable]):not(:--expanded)) {
  width: 32px !important;
  height: 32px !important;
  background: none;

  mlv-panel-header {
    --padding: none;
    --border-bottom: none;
  }

  slot, [slot="title"], [slot="subtitle"], [slot="action-icon"] {
    display: none;
  }
}

:host([closable]:not(:--expanded)) {
  display: none;
}

:host([side="right"]) {
  float: right;
}

[internal-host] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  height: 100%;
}
