:host {
  --color: var(--mlv-sys-text-muted-color);
  --_alert-color: var(--color, initial);
}

mlv-alert {
  --color: var(--_alert-color);
}

:host([status='success']) {
  --_alert-color: var(--mlv-sys-support-success-emphasis-color);
}

:host([status='error']),
:host([error]) {
  --_alert-color: var(--mlv-sys-support-danger-emphasis-color);
}
