:host {
  --background: var(--mlv-sys-interaction-background);
  --padding: 0 var(--mlv-ref-size-300);
  --border-radius: var(--mlv-ref-border-radius-lg);
  --border: 0;
  --font-weight: var(--mlv-ref-font-weight-semibold);
  --font-size: var(--mlv-ref-font-size-200);
  --text-decoration: none;
  --cursor: pointer;
  --gap: var(--mlv-ref-space-xxs);
  --height: var(--mlv-ref-size-800);
  width: 100%;
}
