:host {
  --color: var(--mlv-sys-layer-canvas-color);
  --padding: var(--mlv-ref-size-200) var(--mlv-ref-size-300);
  position: absolute;
  inset: 28px 0 0 0;
}

[internal-host] {
  background: color-mix(in oklab, var(--background, var(--mlv-sys-layer-canvas-background)) 100%, var(--mlv-sys-interaction-state-mix) var(--interaction-state-ratio, 0%));
  color: var(--color);
  padding: var(--padding);
  font-size: var(--font-size);
  display: flex;
  place-items: center;
  place-content: center;
  height: 100%;
}
