
:host {
  --gap: var(--mlv-ref-space-xs);
  --font-size: var(--mlv-ref-font-size-200);
  --color: var(--mlv-sys-interaction-default-color);
  --icon-color: var(--mlv-sys-status-neutral-background);
  --icon-size: var(--mlv-ref-size-500);
  width: auto;
}

[internal-host] {
  font-size: var(--font-size);
  gap: var(--gap);
  color: var(--color);
  display: flex;
  align-items: center;
  line-height: 1em;
  height: 100%;
}

mlv-icon {
  --color: var(--icon-color);
  --width: var(--icon-size);
  --height: var(--icon-size);
  margin: calc(var(--mlv-ref-space-xxxs) * -1);
}

mlv-icon-button {
  --color: var(--icon-color);
  margin-left: auto;
}

:host([status='muted']) {
  --color: var(--mlv-sys-text-muted-color);
}

:host([status='info']) {
  --icon-color: var(--mlv-sys-status-info-background);
}

:host([status='success']) {
  --icon-color: var(--mlv-sys-status-success-background);
  --color: var(--mlv-sys-status-success-background);
}

:host([status='warning']) {
  --icon-color: var(--mlv-sys-status-warning-background);
}

:host([status='danger']) {
  --icon-color: var(--mlv-sys-status-danger-background);
  --color: var(--mlv-sys-status-danger-background);
}
