[nve-control] input::placeholder,
[nve-control] textarea::placeholder {
  color: var(--nve-sys-text-placeholder-color) !important;
}

[nve-control] input::-webkit-search-cancel-button,
[nve-control] input::-webkit-calendar-picker-indicator {
  opacity: 0 !important;
  display: none !important;
}
