@import '@nvidia-elements/themes/fonts/inter.css';
@import '@nvidia-elements/themes/index.css';
@import '@nvidia-elements/themes/dark.css';
@import '@nvidia-elements/themes/high-contrast.css';
@import '@nvidia-elements/themes/compact.css';
@import '@nvidia-elements/themes/debug.css';
@import '@nvidia-elements/brand/index.css';
@import '@nvidia-elements/brand/dark.css';
@import '@nvidia-elements/styles/layout.css';
@import '@nvidia-elements/styles/labs/layout-viewport.css';
@import '@nvidia-elements/styles/labs/layout-container.css';
@import '@nvidia-elements/styles/typography.css';
@import '@nvidia-elements/styles/view-transitions.css';

*:not(:defined) {
  visibility: hidden;
}

#iframe-links {
  position: fixed;
  inset: auto 1rem 1rem auto;
  z-index: 1000;
}

#example-container {
  display: flex;
  place-items: center;
  place-content: center;
  width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--nve-ref-border-color-muted) var(--background);
  scrollbar-width: thin;
}

body:has(#iframe-links:not([hidden])) #example-container {
  padding: 24px;
}

body:has(nve-page) #example-container {
  display: contents;
}

[data-element*='Responsive'] {
  & > [nve-layout] {
    height: 100%;
    width: 100%;
  }

  nve-card {
    min-width: 120px;
    min-height: 120px;
    --background: oklab(0.3344 -0.0439437 0.00222608);
  }

  &[data-element*='Viewport'] {
    nve-card {
      --background: oklab(0.2776 0.0214875 -0.0624042);
    }
  }
}
