
:host {
  --padding: var(--nve-ref-size-200);
  --gap: var(--nve-ref-size-100);
  --width: min-content;
  --min-width: 170px;
  width: var(--width);
  min-width: var(--min-width);
}

[internal-host] {
  padding: var(--padding);
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  width: var(--width);
  min-width: var(--min-width);
  margin: 0;
}

::slotted(hr) {
  width: calc(100% + calc(var(--padding) * 2));
  border: 1px solid var(--nve-ref-border-color-muted);
  margin: 0;
  margin-left: calc(var(--padding) * -1);
}
