
:host {
  --padding:0;
  --gap: var(--nve-ref-size-100);
  --width: min-content;
  --max-width: 100%;
  --min-width: 170px;
  width: var(--width);
  min-width: var(--min-width);
}

[internal-host] {
  padding: var(--padding);
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: 0;
}
