
:host {
  --padding:0;
  --gap: var(--mlv-ref-size-100);
  --width: min-content;
  --max-width: 100%;
  --min-width: 170px;
  --max-height: 100%;
  width: var(--width);
  min-width: var(--min-width);
}

[internal-host] {
  padding: var(--padding);
  gap: var(--gap);
  display: flex;
  flex-direction: column;
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  max-height: var(--max-height);
  margin: 0;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background: var(--background);
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  height: 100vh;
}

::-webkit-scrollbar-thumb {
  background: var(--mlv-ref-border-color-muted);
  border: 2px solid var(--background);
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}