:host {
  --background: var(--nve-sys-layer-shell-background);
  --padding: var(--nve-ref-space-xs) var(--nve-ref-space-lg);
  --border-bottom: var(--nve-ref-border-width-sm) solid var(--nve-ref-border-color-muted);
  contain: initial;
  width: 100%;
}

[internal-host] {
  background: var(--background);
  padding: var(--padding);
  border-bottom: var(--border-bottom);
  display: flex;
  flex-direction: row;
  place-items: center flex-start;
  justify-content: space-between;
}

[app-branding] {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  gap: var(--nve-ref-space-xs);
  margin: 0;
  min-height: 0;
}

::slotted([slot='title']),
slot[name='title'] h2 {
  font-family: var(--nve-ref-font-family) !important;
  font-size: var(--nve-ref-font-size-200) !important;
  font-weight: var(--nve-ref-font-weight-semibold) !important;
  color: var(--nve-sys-text-muted-color) !important;
  white-space: initial;
  margin: 0;
}

slot {
  display: flex;
  flex-direction: row;
  place-items: flex-start;
  margin: 0;
  min-height: 0;
}

slot[name='nav-items'] {
  margin: 0 auto 0 var(--nve-ref-space-xxl);
  gap: var(--nve-ref-space-xxs);
}

slot[name='nav-actions'] {
  align-items: center;
}

::slotted(nve-button[slot='nav-items']),
::slotted(nve-button[slot='nav-items']) {
  --color: var(--nve-sys-text-muted-color);
  --font-weight: var(--nve-ref-font-weight-medium);
}

::slotted(nve-button[slot='nav-items'][selected]),
::slotted(nve-button[slot='nav-items'][selected]) {
  --color: var(--nve-sys-text-emphasis-color);
  --text-decoration: none;
  --nve-sys-interaction-state-ratio-active: 0;
  --font-weight: var(--nve-ref-font-weight-semibold);
}

::slotted(nve-icon-button[slot='nav-items'][selected]),
::slotted(nve-icon-button[slot='nav-items'][selected]) {
  --color: var(--nve-sys-text-emphasis-color);
}

::slotted(nve-button[slot='nav-items']:hover),
::slotted(nve-button[slot='nav-items']:focus),
::slotted(nve-button[slot='nav-items']:hover),
::slotted(nve-button[slot='nav-items']:focus) {
  --text-decoration: underline;
}

::slotted(nve-icon-button[interaction='emphasis']),
::slotted(nve-icon-button[interaction='emphasize']), /* deprecated */
::slotted(nve-icon-button[interaction='emphasis']) {
  margin-inline-start: var(--nve-ref-space-lg);
}
