:host {
  --background: var(--mlv-sys-layer-shell-background);
  --padding: var(--mlv-ref-space-xs) var(--mlv-ref-space-lg);
  --border-bottom: var(--mlv-ref-border-width-sm) solid var(--mlv-ref-border-color-muted);
  contain: initial;
  width: 100%;
}

[internal-host] {
  background: var(--background);
  padding: var(--padding);
  border-bottom: var(--border-bottom);
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

[app-branding] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: var(--mlv-ref-space-xs);
  margin: 0;
  min-height: 0;
}

::slotted([slot='title']),
slot[name='title'] h2 {
  font-family: var(--mlv-ref-font-family) !important;
  font-size: var(--mlv-ref-font-size-200) !important;
  font-weight: var(--mlv-ref-font-weight-semibold) !important;
  color: var(--mlv-sys-text-muted-color) !important;
  white-space: initial;
  margin: 0;
}

slot {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 0;
  min-height: 0;
}

slot[name="nav-items"] {
  margin: 0 auto 0 var(--mlv-ref-space-xxl);
  gap: var(--mlv-ref-space-xxs);
}

slot[name="nav-actions"] {
  align-items: center;
}

::slotted(mlv-button[slot="nav-items"]) {
  --color: var(--mlv-sys-text-muted-color);
  --border-radius: 2px;
  --font-weight: var(--mlv-ref-font-weight-medium);
}

::slotted(mlv-button[slot="nav-items"][selected]) {
  --color: var(--mlv-sys-text-emphasis-color);
  --text-decoration: none;
  --mlv-sys-interaction-state-ratio-active: 0;
  --font-weight: var(--mlv-ref-font-weight-semibold);
}

::slotted(mlv-icon-button[slot="nav-items"][selected]) {
  --color: var(--mlv-sys-text-emphasis-color);
}

::slotted(mlv-button[slot="nav-items"]:hover),
::slotted(mlv-button[slot="nav-items"]:focus) {
  --text-decoration: underline;
}

::slotted(mlv-icon-button[interaction='emphasize']) {
  margin-inline-start: var(--mlv-ref-space-lg);
}