
.input-slot {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2px;
}

slot[name='label'] {
  align-self: center;
}

:host {
  border-radius: var(--nve-ref-border-radius-sm);
}

::slotted([nve-control]) {
  --border-radius: 0 !important;
}

::slotted([first-control]) {
  --border-radius: var(--nve-ref-border-radius-sm) 0 0 var(--nve-ref-border-radius-sm) !important;
}

::slotted([last-control]) {
  --border-radius: 0 var(--nve-ref-border-radius-sm) var(--nve-ref-border-radius-sm) 0 !important;
}