[interaction-state] {
  background-image: linear-gradient(hsla(0, 0%, var(--nve-sys-interaction-state-lightness), var(--nve-sys-interaction-state-alpha)) 0 0) !important;
}

:host(:hover) [interaction-state],
:host(:--hover) [interaction-state] {
  --nve-sys-interaction-state-alpha: var(--nve-sys-interaction-state-hover-alpha);
}

:host(:active) [interaction-state],
:host(:--active) [interaction-state] {
  --nve-sys-interaction-state-alpha: var(--nve-sys-interaction-state-active-alpha);
}

:host([selected]) [interaction-state],
:host(:--selected) [interaction-state] {
  --nve-sys-interaction-state-alpha: var(--nve-sys-interaction-state-selected-alpha);
}

:host([disabled]) [interaction-state],
:host(:--disabled) [interaction-state] {
  --nve-sys-interaction-state-alpha: var(--nve-sys-interaction-state-disabled-alpha) !important;
}